/*----------  Media Query min-width Structure   ----------*/
/*----------  Media Query max-width Structure   ----------*/
/*----------  Break-point min-width Structure   ----------*/
/*----------  Break-point max-width Structure   ----------*/
.ast-above-header-menu {
  /** Fixed submenu dropdown position */
}

.ast-above-header-menu .sub-menu {
  line-height: 1.45;
}

.ast-above-header-menu a {
  text-decoration: none;
  padding: 0 1em;
  display: inline-block;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.ast-above-header-menu li {
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.ast-above-header-menu li:hover > ul,
.ast-above-header-menu li.focus > ul {
  right: 0;
  left: auto;
}

.ast-above-header-menu .ast-left-align-sub-menu:hover > .sub-menu,
.ast-above-header-menu .ast-left-align-sub-menu.focus > .sub-menu {
  left: 0;
  right: auto;
}

@media (min-width: 769px) {
  .ast-above-header-menu .ast-sub-menu-goes-outside:hover > .sub-menu,
  .ast-above-header-menu .ast-sub-menu-goes-outside.focus > .sub-menu {
    right: -100%;
  }
  .ast-above-header-menu .ast-left-align-sub-menu .sub-menu .menu-item:hover > .sub-menu,
  .ast-above-header-menu .ast-left-align-sub-menu .sub-menu .menu-item.focus > .sub-menu {
    right: -100%;
  }
}

.ast-above-header-menu ul ul {
  top: 0;
}

.ast-above-header-menu.submenu-with-border ul ul {
  top: -1px;
}

.ast-above-header-menu ul {
  width: 240px;
  background: #ffffff;
  right: -999em;
  position: absolute;
  top: 100%;
  z-index: 99999;
}

@media (min-width: 769px) {
  .ast-above-header-menu ul li:hover > ul,
  .ast-above-header-menu ul li.focus > ul {
    right: 100%;
    left: auto;
  }
  .ast-above-header-menu ul .ast-left-align-sub-menu:hover > .sub-menu,
  .ast-above-header-menu ul .ast-left-align-sub-menu.focus > .sub-menu,
  .ast-above-header-menu ul .ast-left-align-sub-menu:hover * .sub-menu,
  .ast-above-header-menu ul .ast-left-align-sub-menu:focus * .sub-menu {
    right: -100%;
  }
}

.ast-above-header-menu ul a {
  padding: 0.9em 1em;
  display: block;
  word-wrap: break-word;
}

.ast-above-header-menu ul li.menu-item-has-children > a:after {
  position: absolute;
  left: 1em;
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(-270deg);
  -ms-transform: translate(0, -50%) rotate(-270deg);
  transform: translate(0, -50%) rotate(-270deg);
}

.ast-above-header-navigation ul {
  list-style: none;
  margin: 0;
  padding-right: 0;
}

.above-header-nav-padding-support .ast-justify-content-flex-start .ast-above-header-menu > li:first-child a {
  padding-right: 0;
}

.above-header-nav-padding-support .ast-justify-content-flex-start .ast-above-header-menu > li:first-child .sub-menu li a {
  padding-right: 20px;
  padding-left: 20px;
}

.above-header-nav-padding-support .ast-justify-content-flex-end .ast-above-header-menu li a {
  padding: 0 1em 0 0;
}

.above-header-nav-padding-support .ast-justify-content-flex-end .ast-above-header-menu li ul a {
  padding: 0.9em 1em;
}

.above-header-nav-padding-support .ast-justify-content-flex-end .ast-above-header-menu > li:last-child a {
  padding-left: 0;
}

.above-header-nav-padding-support.ast-header-break-point .ast-above-header-menu li a,
.above-header-nav-padding-support.ast-header-break-point .ast-above-header-menu li:first-child a,
.above-header-nav-padding-support.ast-header-break-point .ast-above-header-menu li:last-child a {
  padding: 0px 20px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #dadada;
}

.ast-fullscreen-above-menu-overlay .ast-header-break-point .ast-above-header-menu .sub-menu {
  top: 0;
}

.ast-header-break-point .ast-above-header {
  line-height: 3;
}

.ast-header-break-point .ast-above-header-navigation,
.ast-header-break-point .ast-above-header-menu-items {
  display: block;
  width: 100%;
}

.ast-header-break-point .ast-above-header-navigation ul li a,
.ast-header-break-point .ast-above-header-menu-items ul li a {
  padding: 0 20px;
  display: inline-block;
  width: 100%;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #dadada;
}

.ast-header-break-point .ast-above-header-navigation ul.sub-menu li a,
.ast-header-break-point .ast-above-header-menu-items ul.sub-menu li a {
  padding-right: 30px;
}

.ast-header-break-point .ast-above-header-navigation ul.sub-menu li a:before,
.ast-header-break-point .ast-above-header-menu-items ul.sub-menu li a:before {
  content: "\e900";
  font-family: 'Astra';
  font-size: .65em;
  text-decoration: inherit;
  display: inline-block;
  -webkit-transform: translate(0, -2px) rotateZ(-270deg);
  -ms-transform: translate(0, -2px) rotate(-270deg);
  transform: translate(0, -2px) rotateZ(-270deg);
  margin-left: 5px;
}

.ast-header-break-point .ast-above-header-navigation ul.sub-menu li li a,
.ast-header-break-point .ast-above-header-menu-items ul.sub-menu li li a {
  padding-right: 40px;
}

.ast-header-break-point .ast-above-header-navigation ul.sub-menu li li li a,
.ast-header-break-point .ast-above-header-menu-items ul.sub-menu li li li a {
  padding-right: 50px;
}

.ast-header-break-point .ast-above-header-navigation ul.sub-menu li li li li a,
.ast-header-break-point .ast-above-header-menu-items ul.sub-menu li li li li a {
  padding-right: 60px;
}

.ast-header-break-point .ast-above-header-navigation ul > li:first-child,
.ast-header-break-point .ast-above-header-menu-items ul > li:first-child {
  border-top: 0;
}

.ast-header-break-point .ast-above-header-navigation ul ul,
.ast-header-break-point .ast-above-header-menu-items ul ul {
  right: auto;
  left: auto;
}

.ast-header-break-point .ast-above-header-navigation li,
.ast-header-break-point .ast-above-header-menu-items li {
  width: 100%;
}

.ast-header-break-point .ast-above-header-navigation .menu-item-has-children .sub-menu,
.ast-header-break-point .ast-above-header-menu-items .menu-item-has-children .sub-menu {
  display: none;
}

.ast-header-break-point .ast-above-header-navigation .menu-item-has-children > .ast-menu-toggle,
.ast-header-break-point .ast-above-header-menu-items .menu-item-has-children > .ast-menu-toggle {
  display: inline-block;
  position: absolute;
  top: -1px;
  left: 20px;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 0.907em;
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
}

.ast-header-break-point .ast-above-header-navigation .menu-item-has-children > .ast-menu-toggle::before,
.ast-header-break-point .ast-above-header-menu-items .menu-item-has-children > .ast-menu-toggle::before {
  content: "\e900";
  font-family: 'Astra';
  text-decoration: inherit;
  display: inline-block;
}

.ast-header-break-point .ast-above-header-navigation .ast-submenu-expanded > .ast-menu-toggle::before,
.ast-header-break-point .ast-above-header-menu-items .ast-submenu-expanded > .ast-menu-toggle::before {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.ast-header-break-point .ast-above-header-menu .sub-menu {
  line-height: 3;
}

.ast-header-break-point .ast-above-header-menu .sub-menu .ast-left-align-sub-menu:hover > .sub-menu,
.ast-header-break-point .ast-above-header-menu .sub-menu .ast-left-align-sub-menu.focus > .sub-menu {
  right: 0;
}

.ast-header-break-point .ast-above-header-menu ul {
  position: relative;
  opacity: 1;
  visibility: visible;
  border: 0;
  width: auto;
}

.ast-header-break-point .ast-above-header-menu ul a {
  border: 0;
}

.ast-header-break-point .ast-above-header-menu .ast-sub-menu-goes-outside:hover > .sub-menu,
.ast-header-break-point .ast-above-header-menu .ast-sub-menu-goes-outside.focus > .sub-menu {
  right: auto;
}

.ast-fullscreen-above-menu-enable.ast-header-break-point .ast-above-header-navigation ul.sub-menu li a,
.ast-fullscreen-above-menu-enable.ast-header-break-point .ast-above-header-menu-items ul.sub-menu li a {
  padding-right: 0;
}

.ast-fullscreen-above-menu-enable.ast-header-break-point .ast-above-header-navigation ul.sub-menu li li a,
.ast-fullscreen-above-menu-enable.ast-header-break-point .ast-above-header-menu-items ul.sub-menu li li a {
  padding-right: 0;
}

.ast-fullscreen-above-menu-enable.ast-header-break-point .ast-above-header-navigation ul.sub-menu li li li a,
.ast-fullscreen-above-menu-enable.ast-header-break-point .ast-above-header-menu-items ul.sub-menu li li li a {
  padding-right: 0;
}

.ast-fullscreen-above-menu-enable.ast-header-break-point .ast-above-header-navigation ul.sub-menu li li li li a,
.ast-fullscreen-above-menu-enable.ast-header-break-point .ast-above-header-menu-items ul.sub-menu li li li li a {
  padding-right: 0;
}

.ast-desktop .ast-above-header-menu .sub-menu {
  -webkit-box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1);
}

.ast-desktop .ast-above-header-menu .astra-full-megamenu-wrapper {
  -webkit-box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.1);
}

.ast-desktop .ast-above-header-menu .astra-full-megamenu-wrapper .sub-menu {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ast-desktop .ast-above-header-menu .astra-megamenu .sub-menu {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ast-above-header {
  z-index: 5;
}

.ast-above-header-wrap {
  position: relative;
  /* Search widget. */
}

.ast-above-header-wrap .ast-search-box.header-cover .search-form .search-field {
  font-size: 1.3em;
}

.ast-above-header-wrap .ast-search-box.header-cover button.button,
.ast-above-header-wrap .ast-search-box.header-cover #close {
  font-size: 1.5em;
}

.ast-above-header-wrap .widget_search .search-field,
.ast-above-header-wrap .widget_search .search-field:focus {
  width: 100%;
  padding: .66666em 1em .66666em 3em;
}

.ast-above-header-wrap .ast-button-wrap {
  display: none;
}

.ast-above-header-section {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -moz-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ast-above-header-section .widget {
  margin: 0 .5em;
  display: inline-block;
  vertical-align: middle;
}

.ast-above-header-section .widget p,
.ast-above-header-section .widget a {
  margin-bottom: 0;
}

.ast-above-header-section .ast-no-widget-row .widget-title {
  text-transform: capitalize;
}

.ast-above-header-section .ast-no-widget-row .no-widget-text {
  margin: 0;
}

.ast-above-header-section .user-select {
  text-align: center;
}

.ast-above-header {
  background: #fff;
  border-bottom: 1px solid #eaeaea;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  /* Woocommerce Above Header cart*/
}

.ast-above-header .menu-item-has-children > a:after {
  content: "\e900";
  display: inline-block;
  font-family: 'Astra';
  font-size: 9px;
  font-size: .6rem;
  font-weight: bold;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  line-height: normal;
}

.ast-above-header .user-select {
  position: relative;
}

.ast-above-header .ast-search-icon {
  display: block;
}

.ast-above-header .astra-search-icon {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.ast-above-header .slide-search .search-field {
  background-color: white;
}

.ast-above-header .slide-search .search-field:focus {
  background-color: white;
}

.ast-above-header .ast-addon-cart-wrap {
  margin-top: .3em;
  padding: 0 .6em;
}

.ast-above-header-section-1 .ast-search-menu-icon.ast-inline-search {
  right: 0;
}

.ast-above-header-section-1 .ast-search-menu-icon .search-form {
  padding-right: 3em;
  padding-left: 0;
  left: auto;
  right: -1em;
}

/* Above Header menu li class */
.ast-above-header-menu-items,
.ast-above-header-custom-menu-items {
  display: none;
}

.ast-above-header-section-2 .search-field {
  padding-left: 0;
}

.ast-above-header-section-1 .search-field {
  padding-right: 0;
}

.ast-header-break-point {
  /* Hide Above Header for mobile devices  */
  /* Separate Header Sectons*/
  /* Above Header menu li class*/
}

.ast-header-break-point .ast-above-header-mobile-inline .above-header-2 .ast-above-header-section-1,
.ast-header-break-point .ast-above-header-mobile-stack .above-header-2 .ast-above-header-section-1 {
  padding: 1em 0 1em 0;
}

.ast-header-break-point.ast-header-custom-item-outside .ast-primary-menu-disabled.ast-above-header-merged-responsive .ast-mobile-menu-buttons {
  display: block;
}

.ast-header-break-point.ast-above-header-hide-on-mobile .ast-above-header-wrap {
  display: none;
}

.ast-header-break-point .ast-above-header-merged-responsive .ast-above-header-wrap {
  -webkit-box-ordinal-group: initial;
  -webkit-order: initial;
  -moz-box-ordinal-group: initial;
  -ms-flex-order: initial;
  order: initial;
}

@media (max-width: 544px) {
  .ast-header-break-point .ast-above-header-merged-responsive .ast-above-header-wrap .ast-above-header-section {
    width: 100%;
    display: block;
    text-align: center;
  }
  .ast-header-break-point .ast-above-header-merged-responsive .ast-above-header-wrap .ast-above-header-section.menu-above-header {
    display: none;
  }
  .ast-header-break-point .ast-above-header-merged-responsive .ast-above-header-wrap .ast-above-header {
    padding-top: 0;
  }
}

.ast-header-break-point .ast-above-header-merged-responsive .ast-above-header-section {
  padding-top: .66em;
  padding-bottom: .66em;
}

.ast-header-break-point .ast-above-header-merged-responsive .ast-above-header-section .widget {
  margin: 0 .5em;
  display: inline-block;
}

.ast-header-break-point .ast-above-header-merged-responsive .ast-above-header {
  line-height: 1.6;
  display: block;
  border-bottom-width: 0;
}

.ast-header-break-point .ast-above-header-merged-responsive .menu-above-header {
  display: none;
}

.ast-header-break-point .ast-above-header-section-separated .ast-above-header-navigation {
  display: none;
  background: #fff;
  position: absolute;
  padding: 0 20px;
  bottom: 0;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  right: 0;
  z-index: 9;
  overflow-y: auto;
}

.ast-header-break-point .ast-above-header-section-separated .ast-above-header-menu {
  border-top-width: 1px;
  border-style: solid;
  border-color: #dadada;
}

.ast-header-break-point .ast-above-header-section-separated .ast-above-header .ast-button-wrap {
  display: inline-block;
}

.ast-header-break-point .ast-above-header-section-separated .ast-above-header .ast-button-wrap .menu-above-header-toggle .mobile-menu {
  font-size: 15px;
  font-size: 1rem;
  font-weight: 600;
}

.ast-header-break-point .ast-above-header-section-separated .ast-above-header-menu.submenu-with-border ul ul {
  top: 0px;
}

.ast-header-break-point .ast-above-header-section-separated.ast-above-header-mobile-stack .ast-above-header .ast-container {
  padding: 0;
}

.ast-header-break-point .ast-above-header-section-separated.ast-above-header-mobile-stack .ast-above-header-section-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.ast-header-break-point .ast-above-header-section-separated.ast-above-header-mobile-stack .ast-above-header-section-1 {
  z-index: 5;
}

.ast-header-break-point .ast-above-header-section-separated.ast-above-header-mobile-stack .ast-above-header-section-1,
.ast-header-break-point .ast-above-header-section-separated.ast-above-header-mobile-stack .ast-above-header-section-2 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: right;
  width: 100%;
}

.ast-header-break-point .ast-above-header-section-separated.ast-above-header-mobile-stack .ast-above-header-section-2 {
  padding: 1em 0em 1em 0em;
}

.ast-header-break-point .ast-above-header-section-separated.ast-above-header-mobile-stack.ast-swap-above-header-sections .ast-above-header-section-2 {
  padding: 1em 0 1em 0;
}

.ast-header-break-point .ast-above-header-section-separated.ast-above-header-mobile-stack.ast-swap-above-header-sections .ast-above-header-section-1 {
  padding: 0 0 1em 0;
}

.ast-header-break-point .ast-above-header-section-separated.ast-above-header-mobile-stack.ast-swap-above-header-sections .ast-above-header-1 .ast-above-header-section-1 {
  padding: 0 0 1em 0;
}

.ast-header-break-point .ast-above-header-section-separated.ast-above-header-mobile-stack .ast-above-header-1 .ast-above-header-section-1 {
  padding: 1em 0 0 0;
}

.ast-header-break-point .ast-above-header-menu {
  display: block;
  margin: 0 -20px;
}

.ast-header-break-point .menu-item-has-children > a:after {
  display: none;
}

.ast-header-break-point .ast-above-header-menu-items,
.ast-header-break-point .ast-above-header-custom-menu-items {
  display: block;
  width: 100%;
}

.ast-header-break-point .ast-above-header-menu-items ul {
  list-style: none;
  margin: 0;
  padding-right: 0;
  position: relative;
}

.ast-header-break-point .ast-above-header-menu-items li {
  list-style: none;
  position: relative;
}

.ast-header-break-point .ast-above-header-menu-items li a {
  padding: 0 20px;
  display: inline-block;
  width: 100%;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #dadada;
}

.ast-header-break-point .ast-above-header-menu-items.main-header-menu {
  border-top: 0;
}

.ast-header-break-point .ast-above-header-section-wrap {
  min-height: initial;
}

.ast-header-break-point .site-header {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.ast-header-break-point .main-header-bar-wrap {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
}

.ast-header-break-point .ast-button-wrap .menu-above-header-toggle.toggled .menu-toggle-icon:before {
  content: "\e5cd";
}

.ast-header-break-point .menu-above-header-toggle {
  padding: 0 .5em;
  width: auto;
  text-align: center;
}

.ast-header-break-point .header-main-layout-2 .menu-above-header-toggle {
  margin-left: 0;
}

.ast-header-break-point .ast-above-header {
  line-height: 3;
  /* Woocommerce Above Header cart*/
}

.ast-header-break-point .ast-above-header .ast-search-menu-icon .search-field {
  max-height: initial;
}

.ast-header-break-point .ast-above-header .ast-addon-cart-wrap {
  display: inline-block;
}

.ast-header-break-point .ast-above-header-section-2 {
  padding-top: .66em;
  padding-bottom: .66em;
}

.ast-header-break-point .ast-above-header-section .widget {
  margin: .5em 0;
  display: block;
}

.ast-header-break-point.ast-woocommerce-cart-menu .ast-above-header .ast-site-header-cart {
  padding: 0;
}

@media (max-width: 544px) {
  .ast-above-header {
    padding-top: 0.5em;
  }
}

/* EDD cart for Below Header Section 1 */
.ast-above-header-section-1 .ast-edd-site-header-cart:focus .widget_edd_cart_widget, .ast-above-header-section-1 .ast-edd-site-header-cart:hover .widget_edd_cart_widget {
  left: auto;
  right: 0;
}

.ast-above-header-section-1 .ast-edd-site-header-cart .widget_edd_cart_widget {
  left: -999em;
  right: auto;
}

.ast-above-header-section-1 .ast-edd-site-header-cart .widget_edd_cart_widget:before, .ast-above-header-section-1 .ast-edd-site-header-cart .widget_edd_cart_widget:after {
  right: 8px;
  left: auto;
}

.ast-above-header-section-1 .ast-edd-site-header-cart .widget_edd_cart_widget:after {
  margin-right: -2px;
}
