#ect-events-slider, #ect-events-carousel {box-sizing: border-box;}
#ect-events-slider h1,#ect-events-slider h2,#ect-events-slider h3,#ect-events-slider h4,#ect-events-slider h5,#ect-events-slider h6,
#ect-events-carousel h1,#ect-events-carousel h2,#ect-events-carousel h3,#ect-events-carousel h4,#ect-events-carousel h5,#ect-events-carousel h6{margin: 0; padding:0;}

h3.ect-slider-day-define{
    margin:0;
    padding:0;
}

button.ctl-slick-next.slick-arrow:hover, button.ctl-slick-next.slick-arrow:focus{
background: url(../images/nxt.png) center center no-repeat #fff;
background-size: 8px auto;
}
button.ctl-slick-prev.slick-arrow:hover, button.ctl-slick-prev.slick-arrow:focus{
background: url(../images/prev.png) center center no-repeat #fff;
background-size: 8px auto;
}
.ect-slider-clearfix:after{display: block; clear: both; content: "";}
.ect-slider-wrapper{max-width: 900px; width:100%; margin:60px auto;} 
.ect-slider-pull-left{float: left;}
.ect-slider-pull-right{float: right;}
.ect-slider-content{background: #fff; clear:both; position: relative;box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.15);margin: 20px;outline: none;}
.slick-slide {outline:none;}
.ect-slider-outr{position: relative;}
.ect-slider-img{width: 50%; height: 100%; position: absolute; top: 0;right: 0;}
.ect-slider-con{width: 50%; height: 100%; padding: 4.5%; }
.ect-slider-con-outer{display: table; height: 100%; width: 100%;}
.ect-slider-middle-con{display: table-cell;}
#ect-events-slider .slick-list .slick-slide .ect-slider-content h2.slider-list-title{padding:0;margin:0;}
.ect-list-venue.slider-view-venue { margin-top: 10px;}
.slider-view-venue span.ect-google, .carousel-view-venue span.ect-google {margin-left: 28px;}
#ect-events-carousel .slick-list .slick-slide .ect-carousel-date-caption h3 {padding:0;margin:0 0 5px 0;}
#ect-events-carousel .slick-list .slick-slide .ect-list-venue.carousel-view-venue {margin-top:15px;}
#ect-events-slider .slick-list .slick-slide .ect-slider-content .ect-list-venue .ect-venue-details {display:inline-block;text-decoration:none;    width: calc( 100% - 34px );}
#ect-events-carousel .slick-list .slick-slide .ect-list-venue.carousel-view-venue .ect-venue-details {display:inline-block;text-decoration:none;width: calc( 100% - 30px );font-size:inherit;}
#ect-events-carousel .slick-list .slick-slide .ect-list-venue .ect-icon {width:20px;font-size:22px;display:inline-block;vertical-align: top;}
#ect-events-slider .slick-list .slick-slide .ect-slider-content .ect-list-venue .ect-venue-details .tribe-address, #ect-events-carousel .slick-list .slick-slide .ect-list-venue .ect-venue-details .tribe-address {
    font-size: 85%;
    width: 100%;
    display: inline-block;
}
#ect-events-slider .slick-list .slick-slide .ect-slider-content .ect-list-venue .ect-venue-details .tribe-address span, #ect-events-carousel .slick-list .slick-slide .ect-list-venue .ect-venue-details .tribe-address span {
    display: inline-block;
}
#ect-events-slider .slick-list .slick-slide .ect-slider-content .ect-list-venue .ect-venue-details .tribe-address .tribe-delimiter, #ect-events-carousel .slick-list .slick-slide .ect-list-venue .ect-venue-details .tribe-address .tribe-delimiter {
    margin-right: 3px;
}
#ect-events-slider .slick-list .slick-slide .ect-slider-content .ect-list-venue .ect-google, #ect-events-carousel .slick-list .slick-slide .ect-list-venue .ect-google {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
#ect-events-slider .slick-list .slick-slide .ect-slider-content .ect-list-venue .ect-google a, #ect-events-carousel .slick-list .slick-slide .ect-list-venue .ect-google a {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 0 0 currentColor;
}
#ect-events-carousel .slick-list .slick-slide .ect-carousel-date-caption .mnth p, #ect-events-carousel .slick-list .slick-slide .ect-carousel-date-caption .ect-slider-tm {
    font-size: 0.34em;
line-height: 1.5em;
}
#ect-events-carousel .slick-list .slick-slide .ect-rate-area {margin-top:10px;}
#ect-events-carousel .slick-list .slick-slide .ect-rate-area .ect-rate-icon {margin-right:4px;font-size:20px;}

.ect-slider-con-header h3{margin:0; padding:0;color: #40d9f1; font-size: 50px; line-height: 50px; display: inline-block; font-weight: 400;}
.ect-slider-date{display: inline-block; padding-left: 6px;}
.ect-slider-date h5{margin:0;padding:0; font-size: 17px;line-height: 20px;}
.ect-slider-date span{font-size: 12px;}
.ect-slider-day-define{color: silver; font-size: 35px;font-weight: 100; text-transform: uppercase; line-height: 35px; margin-bottom: 40px;}
.ev-mo{font-weight: 400;}
.ect-slider-main-content{margin-top:20px}
.ect-slider-main-content h2 a{box-shadow: none;text-decoration: none;}
.ect-slider-main-content p{color: #767676; font-size: 14px; margin: 15px 0 20px ;padding:0;}
.ect-slider-register-btn{color: #767676; font-size: 12px; text-transform: uppercase; border: 1px solid #e8e8e8;line-height: 49px; display: inline-block;height: 50px; padding: 0 31px; text-decoration: none; letter-spacing: 0.5px;}
.ect-slider-register-btn:hover{color: #fff;background: #191919; border-color: #191919;}
.ect-slider-event-color{width: 14px; height: 14px; display: inline-block; border-radius: 50%; background: #72D600;}
.ect-event-content .more-link {display:none;}

.slick-arrow {position: absolute; top: 50%; width: 54px; height: 54px;background: #fff; border: 0; color: transparent; margin-top: -27px; box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.043); cursor: pointer;}
.ctl-slick-next{background: url(../images/nxt.png) center center no-repeat #fff; background-size: 8px auto; right: -100px;}
.ctl-slick-prev{background: url(../images/prev.png) center center no-repeat #fff; background-size: 8px auto; left: -100px;}
.ctl-slick-next:hover{background: url(../images/nxt.png) center center no-repeat #fff;background-size: 8px auto; background-size: 8px auto;}
.ctl-slick-prev:hover{background: url(../images/prev.png) center center no-repeat #fff; background-size: 8px auto;} 
.slick-arrow:hover{box-shadow:0 4px 29px 0 rgba(0, 0, 0, 0.094);}

/*
Carousel View
 */

.ect-carousel-wrapper{width:100%;max-width: 900px; margin:60px auto;} 
.ect-carousel-date-caption{background-color: #40d9f1;color: #fff;left: -15px;line-height: 2.3;padding: 10px 10px 5px 21px;position: absolute;top: 25px;width:auto;}
.ect-carousel-date-caption h3{display: inline-block;font-size: 41px;font-weight: 500; }
.ect-carousel-date-caption .mnth{display: inline-block;}
.ect-carousel-block-inner{padding: 0 15px;}
.ect-carousel-date-caption .mnth p{font-size: 13px; font-weight: 300; margin: 0;}


.ect-carousel-date-caption:after {
  border-color: transparent transparent #40d9f1;
  border-style: solid;
  border-width: 13px;
  bottom: -13px;
  content: "";
  display: inline-block;
  left: 5px;
  position: absolute;
  transform: rotate(45deg);
  width: 0;
  z-index: -1;
}
.ect-carousel-image-box{position: relative;height:210px;border: 1px solid #ddd;border-bottom: 0;}
.ect-carousel-image-outer img{width: 100%;height:210px;object-fit:cover;}
.ect-carousel-image-outer img:hover, .ect-slider-img:hover {
    -webkit-filter: brightness(90%) hue-rotate(2deg);
    filter: brightness(90%) hue-rotate(2deg);
}

#ect-events-carousel .slick-list .slick-slide .ect-carousel-event-caption h3 {margin:0;padding:0;}
.ect-carousel-event-caption h3 a {
  text-decoration: none;
  box-shadow: none;
}
.ect-carousel-event-caption p {
  color: #7a7272;
  font-size: 14px;
  font-weight: 300;
}
.ect-carousel-event-caption{padding: 18px; border: 1px solid #e8e8e8; border-top: 0;}
.slick-dots{text-align: center;}
.slick-dots li{display: inline-block; width: 12px; height: 12px; background: #869791; border-radius: 50%; margin: 5px; opacity: 0.5;}
.slick-dots {padding-left: 0; padding-top: 20px;}
.slick-dots li.slick-active{opacity: 1;}
.slick-dots li button{display: none;}
.ect-slider-main-content .ect-list-venue .ect-icon{color: #40d9f1;}
.ect-slider-main-content .ect-rate-icon{color: #40d9f1; font-size: 18px; margin-right: 5px; }
.ect-slider-main-content .ect-list-venue .ect-icon ,.ect-slider-main-content .ect-rate-area{display: inline-block; width: auto; vertical-align: top; margin-right:10px;font-size:22px;}
/*responsive*/

@media all and (max-width: 1200px) {
   .ect-slider-wrapper{width: 700px; margin:60px auto;} 
    .ctl-slick-prev{left: -70px;}
    .ctl-slick-next{right: -70px;}
   .ect-carousel-wrapper{width: 900px;} 
  .ect-carousel-event-caption{padding: 15px;}
}


@media all and (max-width: 880px) {
    .ect-slider-wrapper{width: 500px; margin:60px auto;}
    .ect-slider-img{width: 100%; height: 300px;position:inherit;}
    .ect-slider-con{width: 100%;height: auto;}  
    .ect-slider-content{height: auto;}
}


@media all and (max-width: 950px) {
   .ect-carousel-wrapper{width: 700px; margin:60px auto;}
    
}

@media all and (max-width: 750px) {
.ect-carousel-wrapper{width: 100%;  padding: 0 30px;}
    
}


@media all and (max-width: 650px) {
     .ect-slider-wrapper{width: 100%; margin:60px auto; padding: 0 30px;}
    .slick-arrow{top: 85px; margin-top: 0;}
    .ctl-slick-prev{left: 20px; z-index: 99;}
    .ctl-slick-next{right: 20px;}
}
@media all and (max-width: 480px) {
     .ect-slider-wrapper{width: 100%; padding: 0 15px;}
    .slick-arrow{top: 80px; margin-top: 0; width: 30px; height: 30px;}
    .ctl-slick-prev{left: 10px; z-index: 99;}
    .ctl-slick-next{right: 10px;}
    .ect-slider-day-define{font-size: 30px; margin-bottom: 20px;}
    .ect-slider-main-content h2 a{font-size: 24px;}


    .ect-carousel-wrapper{width: 100%; padding: 0 15px;}
    .ect-carousel-date-caption{height: auto ; line-height: 58px; width: auto; top: 5px; left: -10px;padding-right:5px;}
    .ect-carousel-block-inner{padding: 0 10px;}
    .ect-carousel-event-caption h3 a{font-size: 20px;}
    .slick-dots{margin-top: 0;}
}