/*
Theme Name: NITF
Theme URI: http://magicsquare.us
Description: Event WordPress Theme
Version: 0.8.x
Author: Magicsquare
Author URI: http://magicsquare.us
License: GNU General Public License
License URI: #
Text Domain: NITF
*/


/*--------------------------------------------------------------
## Theme Default Style
--------------------------------------------------------------*/

.sticky {
    display: block;
}

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important;
}

.lgx-banner-inner, .lgx-footer {

    background-color: #554bb9;
}

/*--------------------------------------------------------------
## Style
--------------------------------------------------------------*/
#content .time_circles>div>h4 {
    color: inherit;
}

#vcx-preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99998;
    width:100%;
    height:100%;
}


#lgx-post-wrapper .lgx-cat-list a {
    margin-right: 0;
}

#lgx-post-wrapper .lgx-cat-list a:last-child {
    margin-right: 1.5rem;
}


.alignleft, img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
}
.alignright, img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
}
.aligncenter, img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
}
.alignnone, img.alignnone {
    /* not sure about this one */
}
.wp-caption {
    margin-bottom: 1.5em;
    text-align: center;
    padding-top: 5px;
}
.wp-caption img {
    border: 0 none;
    padding: 0;
    margin: 0;
}
.wp-caption p.wp-caption-text {
    line-height: 1.5;
    font-size: 10px;
    margin: 0;
}
.wp-smiley {
    margin: 0 !important;
    max-height: 1em;
}

.page-links {
    clear: both;
    display: block;
}

.woocommerce p.stars a {
    color: #efa506;
}