
.rAds img{
    display: none !important;
}

#redux-header .rAds {
    display: none !important;
}

.admin-color-fresh #redux-header, .wp-customizer #redux-header {
    background: #554bb9;
    border-color: #ec398b;
}

.redux-sidebar .redux-group-tab-link-a i {
    color: #554bb9;
}
