/*.lgx-about {
  background: @white-color;
}*/
.lgx-about-img {
  margin-right: 5%;
}

.lgx-about-threeimg {
  position: relative;
  padding: 42px;
  padding-left: 0;
  //padding-top: 0;
  &:after {
    content: "";
    position: absolute;
    left: 6%;
    bottom: 5%;
    height: 95%;
    width: 80%;
    border: 16px solid @brand-color;
    border-radius: 16px;
    z-index: 1;
    opacity: .7;
  }
  img {
    border-radius: 16px;
    -moz-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
    -webkit-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
    background: @white-color;
    .bg-rgba(@white-color, 0.4);
    padding: 10px;
    &:nth-child(1) {
      z-index: 2;
    }

    &:nth-child(2) {
      position: absolute;
      bottom: -10px;
      right: 0;
      z-index: 2;
      max-width: 400px;
    }
    &:nth-child(3) {
      position: absolute;
      top: -10px;
      left: 0;
      z-index: 4;
      max-width: 300px;
    }
  }
}


//Single img Sp
.lgx-about-img-sp {
  position: relative;
  overflow: hidden;
  padding: 0 0 4.2rem 4.2rem;
  //border-radius: 16px;
  &:after {
    content: "";
    position: absolute;
    left: 53%;
    bottom: -131%;
    height: 150%;
    width: 150%;
    background: url(../img/dots2.png) 0 0 repeat;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
    .transition-duration(@duration: 0.3s);
    z-index: 0;
  }
  img {
    position: relative;
    z-index: 2;
    border-radius: 16px;
  }
}
.about-date-area {
  padding-top: 4.2rem;
  padding-bottom: 1.6rem;
  display: flex;
  .date {
    position: relative;
    .font-size(68);
    line-height: 8.5rem;
    color: @brand-color;
    text-align: right;
    margin-right: 16px;
    margin-top: 0;
    min-width: 110px;
    &:before {
      content: "";
      position: absolute;
      border: 8px solid @border-color;
      width: 110px;
      height: 110px;
      left: 0;
      top: -8px;
      //background: red;
      border-radius: 16px;
      z-index: 0;
    }
    span {
      position: relative;
      right: -16px;
      //top: 8px;
    }
  }
  p {
    margin-top: 2.8rem;
    padding-left: 1rem;
    span {
      display: block;
      color: @black-color;
      font-family: @lgx-heading-font;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: .05rem;
    }
  }
}


.lgx-about-video {
  iframe {
    width: 100%;
    height: 330px;
    border: none;
  }
}


.lgx-about-content {
  text-align: left;
  .section-btn-area {
    text-align: left;
    margin-top: 2.6rem;
    .lgx-btn {
      margin: 0 .3rem;
    }
  }
}

.lgx-about-content-area {
  overflow: hidden;
  padding-top: 1rem;
  .lgx-heading {
    margin-bottom: 2.6rem;
    text-align: left;
    .heading {
      margin: 0;
      display: inline;
    }
    .subheading {
      //font-family: @lgx-heading-font;
      color: @brand-color2;
      .font-size(20);
      font-weight: 400;
      opacity: 1;
    }
  }
}


.lgx-about-service {
  margin-top: 4.2rem;
  display: flex;
  margin-left: -1rem;
  margin-right: -1rem;
  .lgx-single-service-white {
    flex: 1;
    background: @body-bg-deep;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem 3rem;
    border-radius: 6px;
    .icon {
      .font-noline(6.8);
      color: @brand-color2;
      opacity: .4;
    }
    .text-area {
      .title {
        .font-size(26);
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 0;
      }
    }
  }
}

.lgx-about-content-area-left {
  margin-bottom: 2rem;
  .lgx-heading {
    text-align: left;
    margin-top: 0;
    //margin-bottom: 1rem;
  }
  .lgx-about-content {
    text-align: left;
  }
}




.lgx-about-content-area-center {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  .lgx-heading {
    text-align: center;
  }
  .lgx-about-content,
  .lgx-about-content .section-btn-area {
    text-align: center;
  }
}



.about-color-white {
  .lgx-heading {
    .heading {
      color: @white-color;
    }
  }
  p {
    color: @white-color;
  }
  .about-date-area p span {
    color: @white-color;
  }
  .about-date-area .date::before {
    border: 8px solid @white-color;
    opacity: .1;
  }
}
