
.mfp-close:hover {
  background: transparent;
}

.section-btn-area {
  text-align: center;
  display: block;
  margin-top: 2.6rem;
}

//
.comment-reply-link,
.comment-edit-link,
.comment-form-submit,
.wpcf7-submit,
.lgx-submit,
input[type=submit],
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.wcppec-checkout-buttons__button,
.lgx-btn,
.woocommerce-Address-title .edit,
.lgx-btn-simple {
  overflow: hidden;
  border: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  position: relative;
  color: @white-color;
  font-weight: 400;
  font-size: 14px;
  background: @white-color;
  border-radius: 0;
  margin: 0 auto;
  font-family: @lgx-heading-font;
  padding: 1.5rem 4rem;
  display: inline-block;
  letter-spacing: 2px;
  background: @brand-color;
  .transition-duration(@duration: 0.3s);
  -webkit-box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.4);
  -moz-box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.4);
  box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.4);
  margin: 0 2px;
  z-index: 1;
  &:hover {
    color: @white-color;
    background: @brand-color;
    border-radius: 16px;
    .transition-duration(@duration: 0.3s);
    -webkit-box-shadow: 0 14px 26px -12px rgba(85, 75, 185, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(85, 75, 185, 0.2);
    box-shadow: 0 14px 26px -12px rgba(85, 75, 185, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(85, 75, 185, 0.2);
  }
}


.comment-reply-link span,
.comment-edit-link span,
.comment-form-submit span,
.wpcf7-submit span,
.lgx-submit span,
input[type=submit] span,
.woocommerce #respond input#submit span,
.woocommerce a.button span,
.woocommerce button.button span,
.woocommerce input.button span,
.wcppec-checkout-buttons__button span,
.lgx-btn-simple span,
.woocommerce-Address-title .edit span,
.lgx-btn span {
  position: relative;
  z-index: 1;
}

.comment-reply-link:after,
.comment-edit-link:after,
.comment-form-submit:after,
.wpcf7-submit:after,
.lgx-submit:after,
input[type=submit]:after,
.woocommerce #respond input#submit:after,
.woocommerce a.button:after,
.woocommerce button.button:after,
.woocommerce input.button:after,
.wcppec-checkout-buttons__button:after,
.lgx-btn-simple:after,
.woocommerce-Address-title .edit:after,
.lgx-btn:after {
  content: "";
  position: absolute;
  left: 25%;
  top: 50%;
  height: 500px;
  width: 500px;
  background: @black-color;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
  opacity: .15;
}

.comment-reply-link:hover:after,
.comment-edit-link:hover:after,
.comment-form-submit:hover:after,
.wpcf7-submit:hover:after,
.lgx-submit:hover:after,
input[type=submit]:hover:after,
.woocommerce #respond input#submit:hover:after,
.woocommerce a.button:hover:after,
.woocommerce button.button:hover:after,
.woocommerce input.button:hover:after,
.wcppec-checkout-buttons__button:hover:after,
.lgx-btn-simple:hover:after,
.woocommerce-Address-title .edit:hover:after,
.lgx-btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
  height: 604%;
  width: 300px;
  right: 0;
  border-radius: 100%;
}



.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  padding: 2rem 4rem;
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled, .woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
  padding: 2rem 4rem;
  opacity: .7;
}

.woocommerce #respond .comment-form-submit {
  padding: 0;
  input#submit,
  a.button,
  button.button,
  input.button {
    background: transparent;
    box-shadow: none;
    padding: 2rem 4rem 3.3rem;
  }
}

.cart_list product_list_widget {
  a.button, button.button, input.button {
    padding: 2rem 3.5rem;
  }
}

.products {
  input#submit,
  a.button,
  button.button,
  input.button {
    padding: 1.5rem 2.6rem ;
  }
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  background-color: @brand-color3;
}



//
.lgx-btn input[type=submit] {
  background: transparent;
  box-shadow: none;
  padding: 0;
}

.lgx-btn-sm {
  padding: .8rem 2.6rem;
  font-size: 12px;
}

.panel-body {
  .lgx-btn-simple {
    background: @brand-color3;
    margin: 1rem;
    float: right;
    padding: .6rem 2.2rem;
    font-size: 10px;
  }
}


.lgx-btn-brand2,
.lgx-btn-red {
  background: @brand-color2;
  &:hover {
    background: @brand-color2;
    -webkit-box-shadow: 0 14px 26px -12px rgba(236, 57, 139, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(236, 57, 139, 0.2);
    box-shadow: 0 14px 26px -12px rgba(236, 57, 139, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(236, 57, 139, 0.2);
  }
}
.lgx-btn-yellow {
  background: @brand-color3;
  &:hover {
    -webkit-box-shadow: 0 14px 26px -12px rgba(239, 165, 6, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 165, 6, 0.2);
    box-shadow: 0 14px 26px -12px rgba(239, 165, 6, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(239, 165, 6, 0.2);
  }
}

.lgx-btn-black {
  background: @black-color;
}
.lgx-btn-black:after {
  background: @white-color;
}

.section-btn-area {
  .lgx-btn {
    margin-right: .5rem;
  }
}


.lgx-btn-white {
  background: @white-color !important;
  color: @brand-color !important;
  &:after {
    background: @border-color;
    opacity: .3;
  }
  &:hover {
    -webkit-box-shadow: 0 14px 26px -12px rgba(50, 51, 51, 0.2), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(50, 51, 51, 0.1);
    box-shadow: 0 14px 26px -12px rgba(50, 51, 51, 0.2), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(50, 51, 51, 0.1);
  }
}

.mfp-wrap {
  .wpcf7-submit:after,
  .lgx-submit:after,
  button:after,
  .lgx-btn:after {
    background: none;
    position: static;
  }
  .mfp-arrow-left::after,
  .mfp-arrow-left .mfp-a {
    border-right: none;
  }
  .mfp-arrow-right::after, .mfp-arrow-right .mfp-a {
    border-left: none;
  }
  .mfp-arrow {
    height: auto;
    background: @brand-color3;
    border-radius: 16px;
  }
  .mfp-arrow::before,
  .mfp-arrow::after,
  .mfp-arrow .mfp-b,
  .mfp-arrow .mfp-a {
    top: -25px;
  }
}


.sponsor-btn-area {
  margin-top: 4.2rem;
}
.schedule-btn-area {
  margin-top: 4.2rem;
}

// Menu Button
.lgx-header .lgx-navbar .lgx-nav .lgx-btn {
  background: @brand-color2;
  margin-top: -7px;
  margin-left: 1.5rem;
  a {
    padding: 0;
  }
  &:hover {
    -webkit-box-shadow: 0 14px 26px -12px rgba(236, 57, 139, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(236, 57, 139, 0.2);
    box-shadow: 0 14px 26px -12px rgba(236, 57, 139, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(236, 57, 139, 0.2);
  }
}







/* ---------------------------------------------------------------------
    Extra small devices (phones, less UP TO 767px)
 ----------------------------------------------------------------------*/
@media (max-width : @screen-xs-max) {
  /************** 767 GLOBAl USE***********/
  .lgx-btn {
    font-size: 12px;
    padding: .6rem 2rem;
    letter-spacing: 0rem;
  }
  /************** 767 GLOBAl USE END***********/

}/*767 END*/









