article {
  footer {
    #comments {
      margin-top: 2.6rem;
      display: block;
      overflow: hidden;
      box-sizing: border-box;
      .comment-form-submit {
        padding: 0;
        margin: 1rem 1rem 1.5rem;
        .submit {
          background: transparent;
          box-shadow: none;
          margin-bottom: 0;
          z-index: 2;
        }
      }
      .logged-in-as {
        margin-bottom: 15px;
      }
      .comment-form {
        overflow: hidden;
      }
      .comment-reply-link {
        font-family: @lgx-heading-font;
        padding: .5rem 3rem;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        color: @white-color;
        //margin-bottom: 16px;
        display: inline-block;
        //margin-top: 1rem;
        //border-radius: 0;
        .transition-duration(@duration: 0.3s);
        &:hover {
          border-radius: 8px;
        }
      }
      .edit-link {
        font-family: @lgx-heading-font;
        text-transform: uppercase;
        font-weight: 700;
        position: absolute;
        top: -7px;
        right: 0;
        a {
          font-size: 12px;
          color: @white-color;
          background: @brand-color2;
          padding: .3rem 2rem;
          z-index: 3;
        }
        &:hover a {
          background: @brand-color2;
          -webkit-box-shadow: 0 14px 26px -12px rgba(236, 57, 139, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(236, 57, 139, 0.2);
          box-shadow: 0 14px 26px -12px rgba(236, 57, 139, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(236, 57, 139, 0.2);
          border-radius: 8px;
        }
      }
      .comments-title {
        .font-size(26);
        margin-bottom: 2.6rem;
      }
      .comment-list,
      .comment-list {
        padding-left: 0;
        margin-bottom: 2.6rem;
        li {
          list-style: none;
          .bg-rgba(@body-bg, 1);
          -webkit-box-shadow: 0 0 15px 0 rgba(68,67,73,.02);
          -moz-box-shadow: 0 0 15px 0 rgba(68,67,73,.02);
          box-shadow: 0 0 15px 0 rgba(68,67,73,.02);
          border: 1px solid @border-color;
          padding: 3rem;
          padding-left: 6rem;
          padding-top: 4rem;
          margin-bottom: 5px;
          .comment-body {
            .bg-rgba(@white-color, .7);
            border: 1px solid #eee;
            padding: 3rem;
            .comment-meta {
              width: 100%;
              display: block;
              margin-top: 0;
              a {
                time {
                  font-family: @lgx-heading-font;
                  font-size: 13px;
                  text-transform: uppercase;
                }
              }
              .comment-author {
                position: relative;
                color: @black-color;
                a {
                  color: inherit;
                }
                img {
                  position: absolute;
                  left: -66px;
                  top: -3rem;
                  border-radius: 50%;
                }
              }
              .comment-metadata {
                position: relative;
                padding-bottom: .5rem;
                margin-bottom: 1.5rem;
                border-bottom: 1px solid #eee;
              }
            }
            .comment-content {
              display: block;
              width: 100%;
              li {
                border: none;
                padding: .1rem;
              }
            }
          }
          .children {
            li {
              border: none;
              margin-top: 2rem;
              padding: 0;
              box-shadow: none;
              margin-bottom: 5px;
              display: block;
              background: transparent;
              .comment-body {
                //background: transparent;
              }
              .children {
                background: transparent;
                li {
                  .comment-body {
                    //background: transparent;
                  }
                }
              }
            }
          }
        }
        .pingback {
          padding: 1.5rem;
        }
      }
      //form Style
      #respond {
        .comment-reply-title {

        }
        .comment-notes {
          margin-bottom: 15px;
          .required {
            color: @brand-color;
          }
        }
        form {
          label {
            display: inline-block;
            .required {
              color: @brand-color;
            }
          }
          input, textarea {
            width: 79%;
            //border: 1px solid @border-color;
          }
        }
      }
      .comment-form-author,
      .comment-form-email,
      .comment-form-url,
      .comment-form-comment {
        margin-bottom: 1.5rem;
      }

    }
  }
}



//COMMENTS FORM AREA
article footer #comments {
  .comment-form-cookies-consent #wp-comment-cookies-consent {
    width: auto !important;
    display: inline-block;
    height: auto;
    margin-right: 1rem;
    margin-bottom: 0;
  }
  input,
  textarea {
    margin-bottom: 1.5rem;
  }
  #respond input[type="submit"] {
    width: auto !important;
    float: right;
    border: 1px solid transparent;
  }
  .comment-notes,
  .logged-in-as {
    margin-bottom: 2rem;
  }
}
//COMMENTS FORM AREA END

//Comments Typhography issue
article footer #comments {
  .comment-body {
    .comment-content {
      ol,ul {
        li {
          background: transparent;
          box-shadow: none;
          margin-bottom: 0;
          padding: .5rem;
        }
      }
      ol {
        li {
          list-style-type: decimal;
        }
      }
      ul {
        li {
          list-style-type: disc;
        }
      }
    }
    table td,
    table td{
      border-top: 1px solid #ddd;
      padding: 10px;
    }
    table tbody tr:last-child td,
    table tbody tr:last-child td{
      border-bottom: 1px solid #ddd;
    }
  }

}


//
.comment-form-cookies-consent {
  overflow: hidden;
  display: block;
  width: 100%;
}


.post-password-form {
  input {
    display: inline-block;
    width: auto;
  }
}

//
#comments {
  .comment-navigation {
    overflow: hidden;
    display: block;
    width: 100%;
    margin-top: 1.5rem;
    //background: @body-bg;
    .nav-links {
      .nav-previous a,
      .nav-next a {
        font-family: @lgx-heading-font;
        text-transform: uppercase;
        background: @white-color;
        padding: 1rem 3rem;
        -webkit-box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.2);
        -moz-box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.2);
        box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.2);
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        display: inline-block;
        font-weight: 700;
        letter-spacing: 1px;
        .font-size(14);
        &:hover {
          background: @brand-color;
          color: @white-color;
          border-radius: 16px;
          .transition-duration(@duration: 0.3s);
          -webkit-box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.2);
          -moz-box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.2);
          box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.2);
        }
      }
      .nav-previous {
        float: left;
      }
      .nav-next {
        float: right;
      }
    }
  }
}


//Search

input[type=search] {
  border: 1px solid @border-color;
  background: @body-bg;
  .transition-duration(@duration: 0.3s);
  &:focus,
  &:hover {
    -webkit-box-shadow: 0 0 15px 0 rgba(68,67,73,.1);
    -moz-box-shadow: 0 0 15px 0 rgba(68,67,73,.1);
    box-shadow: 0 0 15px 0 rgba(68,67,73,.1);
    //border: 1px solid @brand-color;
  }
}

.search-submit {
  border-radius: 0;
  height: 60px;
  .transition-duration(@duration: 0.3s);
}

.search-form {
  display: flex;
  max-width: 600px;
  label {
    flex: 1;
  }
  input {
    display: inline-block;
    width: 100%;
    border: none;
  }
}

input[type=submit] {
  display: inline-block;
  width: auto;
}

.lgx-pagination {
  margin-top: 2.6rem;
}



//Responsive
@media (max-width : @screen-xs-max) {
  article footer #comments .comment-list li .comment-body .comment-meta .comment-metadata {
    a {
      display: block;
    }
    display: block;
    overflow: hidden;
  }
  article footer #comments .edit-link a {
    font-size: 10px;
    display: inline-block !important;
  }
  article footer #comments .edit-link {
    position: static;
    margin-top: 0;
    float: left;
  }
  article footer #comments .comment-list li .comment-body .comment-meta .comment-author img {
    left: -60px;
  }
}


@media (max-width : 400px) {
  article footer #comments #respond form label,
  article footer #comments #respond form input, article footer #comments #respond form textarea {
    width: 100%;
  }
  article footer #comments ol.comment-list li,
  article footer #comments ul.comment-list li {
    padding: 2rem 1.5rem 1.5rem 5.5rem;
  }
  article footer #comments .edit-link {
    margin-top: 0;
    float: none;
    display: block;
  }
}