.lgx-inner-countdown {
  background: @brand-color;
  display: flex;
  .countdown-right {
    text-align: center;
    margin: 0 auto;
    margin-top: 4.2rem;
  }
}

.countdown-left-info {
  text-align: center;
  //padding: 6.8rem 1rem;






  color: @white-color;
  .title {
    margin-top: 0;
    font-weight: 900;
    color: @white-color;
    text-transform: uppercase;
    font-family: @lgx-base-font;
    margin: 0;
  }
  .subtitle {
    font-family: @lgx-base-font;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 1rem;
    color: @white-color;
    opacity: .7;
  }
  .date {
    font-family: @lgx-heading-font;
    color: @white-color;
    letter-spacing: 1px;
  }
}

/*.section-countdown-style-default .lgx-countdown,*/
.lgx-countdown {
  margin-top: -15px;
  margin-bottom: 1rem;
  span {
    text-align: right;
    font-family: @lgx-base-font;
    .font-size(68);
    font-weight: 900;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 4.2rem;
    letter-spacing: .16rem;
    position: relative;
    bottom: -15px;
    &:last-child {
      margin-right: 0;
    }
  }
  i {
    .bg-rgba(@black-color, .4);
    min-width: 60px;
    font-family: @lgx-heading-font;
    .font-size(14);
    color: @border-color;
    text-transform: uppercase;
    font-weight: 300;
    -ms-transform: rotate(-90deg) ;
    -webkit-transform: rotate(-90deg) ;
    transform: rotate(-90deg) ;
    font-style: normal;
    display: inline-block;
    position: absolute;
    text-align: center;
    bottom: 40%;
    right: -4.2rem;
    border-radius: 50px;
    letter-spacing: 1px;
  }
  .lgx-days {
    color: #fff200;
  }
  .lgx-hr {
    color: #ff8a00;
  }
  .lgx-min {
    color: #00b9ff;
  }
  .lgx-sec {
    color: @white-color;
  }
  span {
    i {
      border-left: 0;
    }
  }
}




.lgx-banner-info-circle .lgx-countdown {
  span {
    text-align: center;
    font-family: @lgx-base-font;
    .font-size(42);
    font-weight: 900;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 1.6rem;
    position: relative;
    bottom: 0;
    &:last-child {
      margin-right: 0;
    }
  }
  i {
    background: transparent;
    min-width: 10px !important;
    font-family: @lgx-heading-font;
    .font-size(13);
    color: @white-color;
    text-transform: uppercase;
    font-weight: 300;
    -ms-transform: rotate(0deg) ; /* IE 9 */
    -webkit-transform: rotate(0deg) ; /* Chrome, Safari, Opera */
    transform: rotate(0deg) ;
    font-style: normal;
    display: inline-block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -5px;
    opacity: .7;
    letter-spacing: .1rem;
  }
  .lgx-days {
    color: #fff;
  }
  .lgx-hr {
    color: #fff;
  }
  .lgx-min {
    color: #fff;
  }
  .lgx-sec {
    color: #fff;
  }
}








.lgx-countdowns-banner-bottom {
  background: @white-color;
}
.lgx-countdowns-banner-bottom {
  border-radius: 6px;
  margin-top: -7rem;
}


.vcx-circular-countdown {
  //background: red;
  .time_circles > div > h4 {
    font-family: @lgx-heading-font;
    color: rgba(50, 51, 51, 0.8);
    letter-spacing: 1px;
    font-weight: 300;
  }
  .time_circles > div > span {
    font-family: @lgx-base-font;
    //color: @black-color;
    margin-top: .5em;
    font-weight: 900 ;
  }
  .time_circles canvas {
    /*background: @brand-color;
    border-radius: 100px;*/
    opacity: .7;
  }
}

.lgx-countdown-section {
  //background: red;
  .time_circles > div > h4 {
    font-family: @lgx-heading-font;
    color: rgba(50, 51, 51, 0.8);
    letter-spacing: 1px;
    font-weight: 300;
  }
  .time_circles > div > span {
    font-family: @lgx-base-font;
    //color: @black-color;
    //margin-top: .5em;
    font-weight: 900 ;
  }
  .time_circles canvas {
    /*background: @brand-color;
    border-radius: 100px;
    opacity: .5;*/
    opacity: .8;
  }
}

/*.time_circles > div > h4,
.time_circles > div > span {
  font-family: 'Century Gothic',Arial;
  text-align: center;
}*/

.lgx-countdown-circular.lgx-countdown-circular-white {
  .time_circles > div > h4 {
    //color: @footer-text;
  }
  .time_circles > div > span {
   // color: @white-color;
  }
}


.lgx-countdown-simple {
  .lgx-countdown {
    span {
      text-align: center;
      margin-bottom: 0;
      margin-right: 6.8rem;
      position: relative;
      bottom: 0;
      &:last-child {
        margin-right: 0;
      }
    }
    i {
      -ms-transform: rotate(0deg) ; /* IE 9 */
      -webkit-transform: rotate(0deg) ; /* Chrome, Safari, Opera */
      transform: rotate(0deg) ;
      font-style: normal;
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      opacity: .7;
    }
  }
}

.lgx-banner-info {
  .lgx-countdown-area {
    .lgx-countdown {
      margin-bottom: 1.6rem;
    }
  }
}

// Countdown Style


//section-countdown-style-default
.section-countdown-style-default {

}

//section-countdown-style-border
.section-countdown-style-border,
.banner-countdown-style-border {
  .lgx-countdown {
    span {
      text-align: center;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      position: relative;
      bottom: 0;
      min-width: 200px;
      margin-top: -10px;
      &:after {
        position: absolute;
        left: 0;
        right: 0;
        top: 40%;
        content: "";
        width: 3px;
        height: 40%;
        background: #8d939e;
        .transition-duration(@duration: 0.2s);
        opacity: .2;
      }
      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        margin-right: 0;
        &:after {
          display: none;
        }
      }

    }
    i {
      background: transparent;
      -ms-transform: rotate(0deg) ; /* IE 9 */
      -webkit-transform: rotate(0deg) ; /* Chrome, Safari, Opera */
      transform: rotate(0deg) ;
      font-style: normal;
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      opacity: .7;
    }
  }
}

.banner-countdown-style-border {
  .lgx-countdown {
    span {
      min-width: 150px;
    }
  }
}

//section-countdown-style-dot
.section-countdown-style-dot,
.banner-countdown-style-dot {
  .lgx-countdown {
    span {
      text-align: center;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      position: relative;
      bottom: 0;
      min-width: 150px;
      margin-top: -10px;
      &:after {
        position: absolute;
        left: 0;
        right: 0;
        top: 40%;
        content: "";
        width: 10px;
        height: 10px;
        background: @border-color;
        background: #8d939e;
        .transition-duration(@duration: 0.2s);
        border-radius: 50%;
        opacity: .3;
      }
      &:before {
        position: absolute;
        left: 0;
        right: 0;
        top: 70%;
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: @border-color;
        background: #8d939e;
        .transition-duration(@duration: 0.2s);
        opacity: .3;
      }
      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        margin-right: 0;
        &:after {
          display: none;
        }
        &:before {
          display: none;
        }
      }

    }
    i {
      background: transparent;
      -ms-transform: rotate(0deg) ; /* IE 9 */
      -webkit-transform: rotate(0deg) ; /* Chrome, Safari, Opera */
      transform: rotate(0deg) ;
      font-style: normal;
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      opacity: .7;
    }
  }
}

.section-countdown-style-squre {
  text-align: center;
  margin: 0 auto;
  .lgx-countdown {
    display: flex;
    span {
      text-align: center;
      font-family: @lgx-base-font;
      .font-size(68);
      line-height: 150px;
      font-weight: 900;
      display: inline-block;
      margin-bottom: 0;
      margin-right: 0;
      letter-spacing: .16rem;
      position: relative;
      top: 0;
      flex: 1;
      height: 180px;
      &:first-child {
        //border-radius: 6px 0 0 6px;
      }
      &:last-child {
        //border-radius: 0 6px 6px 0;
      }
    }
    i {
      background: transparent;
      font-family: @lgx-heading-font;
      .font-size(20);
      color: @white-color;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: normal;
      -ms-transform: rotate(0deg) ; /* IE 9 */
      -webkit-transform: rotate(0deg) ; /* Chrome, Safari, Opera */
      transform: rotate(0deg) ;
      font-style: normal;
      display: inline-block;
      position: absolute;
      bottom: 40px;
      right: 0;
      left: 0;
    }

    .lgx-days {
      color: #fff;
      background: #ec398b;
    }
    .lgx-hr {
      color: #fff;
      background: #efa506;
    }
    .lgx-min {
      color: #fff;
      background: #00acee;
    }
    .lgx-sec {
      color: #fff;
      background: #8478fd;
    }
  }
}

.lgx-countdown-section {
  margin-bottom: 0 !important;
}



.section-countdown-align-center {
  text-align: center;
}
.section-countdown-align-right {
  text-align: right;
}

.vcx-section-countdown {
  .lgx-countdown {

    margin-top: 0;
    //margin-bottom: 0;
  }
}


.section-countdown-gaptop {
  margin-top: 6.8rem;
}

/*.vcx-section-countdown.lgx-countdown-circular .lgx-countdown {
  margin-top: -15px;
  margin-bottom: 2rem;
}*/

.lgx-about-top {
  margin-top: -8rem;
}

.lgx-banner-info {
  .banner-countdown-align-left.banner-countdown-style-border,
  .banner-countdown-align-left.banner-countdown-style-dot {
    margin-left: -13px;
  }
}
.lgx-header-countdown-simple {
  margin-bottom: 2.6rem;
}



@media (min-width: 1200px) and (max-width: 1400px) {
  .lgx-header-countdown-simple .lgx-countdown {
    display: inline-block;
    margin-bottom: 1rem;
    span {
      .font-size(50);
      bottom: 0;
    }
    i {
      .font-size(15);
      bottom: -10px;
    }
  }
  .banner-countdown-style-dot,
  .banner-countdown-style-border,
  .vcx-section-countdown.lgx-countdown-simple {
    .lgx-countdown {
      span {
        min-width: 120px;
      }
    }
  }

  .vcx-section-countdown.lgx-countdown-simple {
    .lgx-countdown {
      span {
        .font-size(50);
        bottom: 0;
      }
      i {
        .font-size(15);
        bottom: -10px;
      }
    }
  }

  .section-countdown-style-squre {
    .lgx-countdown {
      span {
        top: 0;
        height: 190px;
        padding-top: 4rem;
      }
      i {
        top: 100px;
      }
    }
  }
}
/* -----------------------------------------------------------------------
     Medium devices (desktops, UP TO 1199px~992px)
 ------------------------------------------------------------------------*/

@media (max-width : @screen-md-max) {
  /************** 1199 GLOBAl USE***********/
  .lgx-header-countdown-simple .lgx-countdown {
    display: inline-block;
    margin-bottom: 2.6rem;
    span {
      .font-size(42);
      bottom: 0;
    }
    i {
      .font-size(15);
    }
  }

  .vcx-section-countdown.lgx-countdown-simple {
    .lgx-countdown {
      span {
        margin-bottom: 2rem;
        i {
          bottom: -10px;
        }
      }
    }
  }

  .banner-countdown-style-dot,
  .banner-countdown-style-border {
    .lgx-countdown {
      span {
        i {
          bottom: -10px;
        }
      }
    }
  }

  .section-countdown-style-squre {
    .lgx-countdown {
      span {
        top: 0;
        height: 180px;
        padding-top: 4rem;
      }
      i {
        top: 100px;
      }
    }
  }

  .vcx-section-countdown.lgx-countdown-simple {
    .lgx-countdown {
      span {
        .font-size(50);
        bottom: 0;
      }
      i {
        .font-size(15);
        bottom: -10px;
      }
    }
  }


  /************** 1199 GLOBAl USE END***********/

}

/* ----------------------------------------------------------------------
     Small devices (tablets, UP TO 991px~768px)
 -----------------------------------------------------------------------*/
@media (max-width : @screen-sm-max) {
  /************** 991 GLOBAl USE***********/
  .banner-countdown-style-dot,
  .banner-countdown-style-border,
  .vcx-section-countdown.lgx-countdown-simple {
    .lgx-countdown {
      span {
        min-width: 100px;
      }
    }
  }

  .lgx-about-top {
    margin-top: -4.2rem;
  }

  .vcx-section-countdown.lgx-countdown-simple {
    .lgx-countdown {
      span {
        .font-size(42);
        bottom: 0;
      }
      i {
        .font-size(15);
        bottom: -10px;
      }
    }
  }

  .section-countdown-style-squre {
    .lgx-countdown {
      span {
        top: 0;
        height: 120px;
        padding-top: 2.6rem;
      }
      i {
        top: 70px;
      }
    }
  }
}



@media (max-width : @screen-xs-max) {
  /************** 767 GLOBAl USE***********/

  .lgx-header-countdown-simple .lgx-countdown {
    text-align: center;
    span {
    }
    i {
      background: transparent;
      -ms-transform: rotate(0deg) ;
      -webkit-transform: rotate(0deg) ;
      transform: rotate(0deg) ;
      font-style: normal;
      display: inline-block;
      position: absolute;
      bottom: -10px;
      right: 0;
      left: 0;
    }

  }

  .banner-countdown-style-default {
    span {
      min-width: 39px;
    }
  }

  .lgx-header-countdown-simple .lgx-countdown {
    span {
      .font-size(26);
    }
    i {
      .font-size(14);
    }
  }
  .lgx-header-countdown-simple .lgx-countdown {
    display: inline-block;
  }

  .lgx-countdowns-banner-bottom {
    margin-top: 0;
    padding-top: 1rem;
  }

  .lgx-countdown-area-squre {
    .lgx-countdown {
      span {
        .font-size(30);
        //line-height: 85px;
        height: 100px;
        padding-top: 2rem;
      }
      i {
        .font-size(16);
        bottom: 25px;
      }

    }
  }


  .lgx-about-service {
    display: block;
  }
  .lgx-about-service .lgx-single-service-white {
    margin-bottom: 2rem;
  }

  .banner-countdown-style-dot,
  .section-countdown-style-dot {
    .lgx-countdown {
      span {
        &:after,
        &:before {
          width: 8px;
          height: 8px;
        }
      }
    }
  }

  .section-countdown-gaptop {
    margin-top: 4.2rem;
  }

  .section-countdown-style-squre {
    .lgx-countdown {
      span {
        .font-size(42);
        //line-height: 9rem;
        //top: 50px;
        height: 100px;
        top: 0;
        padding-top: 2rem;
      }
      i {
        .font-size(16);
        top: 60px;
      }
    }
  }


  .vcx-section-countdown.lgx-countdown-circular {
    #content .time_circles > div > h4,
    .time_circles > div > span {
      line-height: 0 !important;
    }
  }

  .lgx-about-top {
    margin-top: -1.5rem;
  }



  /************** 767 GLOBAl USE END***********/
}/*767 END*/


/* ----------------------------------------------------------------
      Custom, iPhone Retina  UP TO 480px
-------------------------------------------------------------------*/
@media (max-width : 480px) {
  /************** 480 GLOBAl USE***********/

  .banner-countdown-style-dot,
  .banner-countdown-style-border {
    .lgx-countdown {
      span {
        min-width: 60px;
        i {
          bottom: -10px;
        }
      }
    }
  }

  .vcx-section-countdown.lgx-countdown-simple {
    .lgx-countdown {
      span {
        min-width: 70px;
      }
    }
  }

  .banner-countdown-style-dot {
    .lgx-countdown {
      span {
        &:after,
        &:before {
          width: 5px;
          height: 5px;
        }
      }
    }
  }

  .section-countdown-style-squre {
    .lgx-countdown {
      span {
        .font-size(30);
        line-height: 9rem;
        //top: 50px;
        height: 90px;
      }
      i {
        .font-size(16);
        top: 50px;
      }
    }
  }

  .vcx-section-countdown.lgx-countdown-circular {
    #content .time_circles > div > h4,
    .time_circles > div > span {
      line-height: 0 !important;
    }
    .time_circles > div > span {
      margin-top: 0 !important;
    }
  }

  .vcx-section-countdown.lgx-countdown-simple {
    .lgx-countdown {
      span {
        .font-size(30);
        bottom: 0;
      }
      i {
        .font-size(14);
        bottom: -10px;
      }
    }
  }

  .lgx-banner-info {
    .banner-countdown-align-left.banner-countdown-style-border,
    .banner-countdown-align-left.banner-countdown-style-dot {
      margin-left: -10px;
    }
  }

  /************** 480 GLOBAl USE***********/

}