.lgx-single-speaker {
  -webkit-transition: all .3s ease-in-out 0s;
  -moz-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
  overflow: hidden;
  margin-bottom: 2.6rem;
  figure {
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    a.profile-img {
      img {
        .transition-duration(@duration: 1s);
      }
    }
    figcaption {
      a {
        .font-size(26);
        color: @brand-color;
        padding: 0 .3rem;
      }
    }
  }
  .social-group {
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    padding: 1rem 2rem;
    a {
      color: @white-color;
      webkit-transition: all .3s ease-in-out 0s;
      -moz-transition: all .3s ease-in-out 0s;
      -o-transition: all .3s ease-in-out 0s;
      transition: all .3s ease-in-out 0s;
      &:hover {
        color: @brand-color3;
      }
    }
  }
  .speaker-info {
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    .title {
      .font-size(26);
      font-weight: 700;
      margin: 0;
      color: @brand-color3;
      a {
        font-size: inherit;
        color: inherit;
      }
    }
    .subtitle {
      font-family: @lgx-base-font;
      .font-size(14);
      font-weight: 400;
      text-transform: uppercase;
      margin: 0;
      color: @white-color;
      opacity: .7;
    }
  }
  &:hover {
    background: @brand-color;
    overflow: hidden;
    figure {
      a.profile-img img {
        -ms-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
      }
    }
  }
}

.lgx-single-speaker-default {
  .bg-rgba(@white-color, .1);
  padding: 1.6rem;
  .transition-duration(@duration: 0.3s);
  overflow: hidden;
  position: relative;
  top: 0;
  -moz-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
  -webkit-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -136%;
    height: 150%;
    width: 150%;
    background: url(../img/dots2.png) 0 0 repeat;
    background: @black-color;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
    .transition-duration(@duration: 0.3s);
    z-index: 0;
    opacity: 0;
  }
  figure {
    position: relative;
    a.profile-img {
      img {
        //border-radius: 18px;
        .transition-duration(@duration: 1s);
      }
    }
    figcaption {
      .bg-rgba(@brand-color, 0.9);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 90%;
      height: 90%;
      text-align: center;
      //border-radius: 8px;
      opacity: 0;
      padding: .8rem 0;
      -webkit-transition: all .3s ease-in-out .3s;
      -moz-transition: all .3s ease-in-out .3s;
      -o-transition: all .3s ease-in-out .3s;
      transition: all .3s ease-in-out .3s;
      z-index: 3;
      a {
        .font-size(26);
        color: @brand-color;
        padding: 0 .3rem;
      }
    }
  }
  .social-group {
    text-align: right;
    padding: 1rem 2rem;
    a {
      color: @white-color;
    }
  }
  .speaker-info {
    position: absolute;
    bottom: 5px;
    z-index: 99;
    width: 100%;
    text-align: left;
    padding: 1.5rem 2rem;
  }
  &:hover {
    background: @brand-color;
    overflow: hidden;
    top: -10px;
    &:after {
      left: 42%;
      opacity: 1;
    }
    figure {
      a.profile-img img {
        -ms-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
        //border-radius: 20px;
      }
      figcaption {
        opacity: 1;
        width: 100%;
        height: 100%;
        img {

        }
      }
    }
  }
}


.lgx-single-speaker-circle {
  border-radius: 50%;
  .transition-duration(@duration: 0.3s);
  overflow: visible;
  position: relative;
  /*-moz-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
  -webkit-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);*/
  figure {
    position: relative;
    overflow: visible;
    a.profile-img {
      overflow: hidden;
      display: block;
      border-radius: 50%;
      img {
        border-radius: 50%;
        .transition-duration(@duration: 0.3s);
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
    figcaption {
      a {
        .font-size(26);
        color: @brand-color;
        padding: 0 .3rem;
      }
    }
  }
  .social-group {
    background: @brand-color;
    border-radius: 50px;
    position: absolute;
    top: 5px;
    right: -10%;
    text-align: right;
    padding: .5rem 1.5rem;
    z-index: 2;
    opacity: 0;
    a {
      color: @white-color;
      display: block;
    }
  }
  .speaker-info {
    width: 100%;
    text-align: center;
    padding: 1.5rem 2rem;
    z-index: 2;
  }
  &:hover {
    background: transparent;
    overflow: visible;
    figure {
      a.profile-img img {
        border-radius: 50%;
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
      }
      figcaption {
        opacity: 1;
        width: 100%;
        height: 100%;
        img {

        }
      }
      .social-group {
        opacity: 1;
        right: 0;
      }
    }
  }
}



.lgx-single-speaker-one {
  margin-bottom: 4.2rem;
  -webkit-transition: all .3s ease-in-out 0s;
  -moz-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
  figure {
    overflow: hidden;
    position: relative;
    a {
      overflow: hidden;
      display: block;
    }
    a.profile-img {
      img {
        -webkit-transition: all .3s ease-in-out 0s;
        -moz-transition: all .3s ease-in-out 0s;
        -o-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s;
      }
    }
    figcaption {
      a {
        .font-size(26);
        color: @brand-color;
        padding: 0 .3rem;
      }
    }
  }
  .social-group {
    background: @brand-color;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 99;
    text-align: right;
    padding: 1rem 2rem;
    opacity: 0;
    a {
      color: @white-color;
      display: block;
    }
  }
  .speaker-info {
    background: @white-color;
    padding: 1.5rem 2rem 2rem;
    text-align: center;
    .title {
      .font-size(26);
      font-weight: 700;
      margin: 0;
      color: @black-color;
      a {
        font-size: inherit;
        color: inherit;
      }
    }
    .subtitle {
      font-family: @lgx-base-font;
      .font-size(14);
      font-weight: 400;
      text-transform: uppercase;
      margin: 0;
      color: @text-ash;
      opacity: .7;
    }
  }
  &:hover {
    figure {
      a.profile-img img {
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
      }
      figcaption {
        opacity: 1;
        img {

        }
      }
    }
    .social-group {
      -webkit-animation-name: fadeInLeft;
      animation-name: fadeInLeft;
      -webkit-transform-origin: center;
      transform-origin: center;
      animation-duration: 600ms;
      animation-timing-function: linear;
      opacity: 1;
    }
    .speaker-info {
      background: @black-color;
      .title {
        color: @white-color;
        a {
          color: inherit;
        }
      }
      .subtitle {
        color: @brand-color3;
      }
    }
  }
}



.lgx-single-speaker-two {
  .bg-rgba(@brand-color3, .4);
  border-radius: 50%;
  padding: 20px;
  border: 20px solid rgba(255, 255, 255, .05);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  overflow: hidden;
  figure {
    .bg-rgba(@brand-color, 1);
    padding: 20px;
    border-radius: 50%;
    position: relative;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    a {
      img {
        border-radius: 50%;
      }
    }
    figcaption {
      opacity: 1;
      position: static;
      width: 100%;
      height: 100%;
    }
    &:after {
      position: absolute;
      content: "";
      width: 150%;
      height: 150%;
      background: -moz-linear-gradient(top,  rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0)), color-stop(100%,rgba(0, 0, 0, 0.95))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.95) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.95) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.95) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.95) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 0)', endColorstr='rgba(0, 0, 0, 0.95)',GradientType=0 ); /* IE6-9 */
      .transition-duration(@duration: 0.2s);
      left: -10%;
      bottom: -10%;
      opacity: 0;
    }
  }
  .social-group {
    text-align: center;
    position: absolute;
    top: -5%;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    -webkit-transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
    a {
      .bg-rgba(@black-color, 1);
      color: @white-color;
      width: 45px;
      height: 45px;
      float: none;
      border-radius: 50%;
      line-height: 47px;
      -moz-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
      -webkit-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
      box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
      -webkit-transition: all .3s ease-in-out 0s;
      -moz-transition: all .3s ease-in-out 0s;
      -o-transition: all .3s ease-in-out 0s;
      transition: all .3s ease-in-out 0s;
      display: inline-block;
      &:hover {
        background: @brand-color;
        z-index: 11111;
      }
    }
  }
  .speaker-info {
    text-align: center;
    padding: 1.5rem;
    position: absolute;
    bottom: -5%;
    left: 0;
    opacity: 0;
    display: block;
    width: 100%;
    -webkit-transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
    z-index: 2;
  }
  &:hover {
    figure {
      a.profile-img {
        img {
          -ms-transform: scale(2);
          -moz-transform: scale(2);
          -webkit-transform: scale(2);
          -o-transform: scale(2);
          transform: scale(2);
        }
      }
      figcaption {
        opacity: 1;
        img {

        }
      }
      &:after {
        opacity: 1;
      }
    }
    .social-group {
      top: 4px;
    right: 1%;
      opacity: 1;
      a {
      }
    }
    .speaker-info {
      bottom: 0;
      left: 0;
      opacity: 1;
    }
  }
}



//
.lgx-single-speaker-three {
  .bg-rgba(@white-color, .1);
  border-radius: 50%;
  padding: 20px;
  border: 20px solid rgba(255, 255, 255, .05);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  figure {
    .bg-rgba(@white-color, .15);
    padding: 20px;
    border-radius: 50%;
    position: relative;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    a {
      img {
        border-radius: 50%;
      }
    }
    figcaption {
      opacity: 1;
      position: static;
      width: 100%;
      height: 100%;
    }
  }
  .social-group {
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    a {
      background: @white-color;
      color: @brand-color;
      position: absolute;
      top: 0;
      right: 0;
      width: 45px;
      height: 45px;
      float: none;
      border-radius: 50%;
      line-height: 47px;
      -moz-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
      -webkit-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
      box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
      -webkit-transition: all .3s ease-in-out 0s;
      -moz-transition: all .3s ease-in-out 0s;
      -o-transition: all .3s ease-in-out 0s;
      transition: all .3s ease-in-out 0s;
      opacity: 0;
      &:nth-child(1) {
        top: 4px;
        right: 40px;
        z-index: 1;
      }
      &:nth-child(2) {
        top: 30px;
        right: 16px;
        z-index: 11;;
      }
      &:nth-child(3) {
        top: 60px;
        right: -1px;
        z-index: 111;
      }
      &:nth-child(4) {
        top: 90px;
        right: -9px;
        z-index: 1111;
      }
      &:nth-child(5) {
        top: 120px;
        right: -12px;
        z-index: 1111;
      }
      &:nth-child(6) {
        top: 150px;
        right: -10px;
        z-index: 1111;
      }
      &:nth-child(7) {
        top: 150px;
        right: -9px;
        z-index: 1111;
      }
      &:hover {
        background: @brand-color;
        z-index: 11111;
      }
    }
  }
  .speaker-info {
    background: @black-color;
    padding: 1.5rem 1rem 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 100%;
  }
  &:hover {
    padding: 0;
    background: @black-color;
    border-radius: 0;
    figure {
      overflow: hidden;
      border-radius: 0;
      a.profile-img img {
        border-radius: 0;
        -ms-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
      }
      figcaption {
        opacity: 1;
        img {

        }
      }
    }
    .social-group {
      a {
        opacity: 1;
        right: 8%;
        float: right;
      }
    }
    .speaker-info {
      opacity: 1;
    }
  }
}


//
.lgx-single-speaker-four {
  figure {
    position: relative;
    a.profile-img {
      img {
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
    figcaption {
      a {
      }
    }
    &:after {
      position: absolute;
      bottom: 0;
      content: "";
      width: 100%;
      height: 100%;
      background: -moz-linear-gradient(top,  rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0)), color-stop(100%,rgba(0, 0, 0, 0.95))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.95) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.95) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.95) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.95) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 0)', endColorstr='rgba(0, 0, 0, 0.95)',GradientType=0 ); /* IE6-9 */
      .transition-duration(@duration: 0.2s);
      opacity: 0;
    }
  }
  .social-group {
    position: absolute;
    top: 10px;
    text-align: center;
    -ms-transform: scale(5);
    -moz-transform: scale(5);
    -webkit-transform: scale(5);
    -o-transform: scale(5);
    transform: scale(5);
    opacity: 0;
    z-index: 2;
    a {
    }
  }
  .speaker-info {
    position: absolute;
    bottom: -5%;
    padding: .5rem 1.5rem;
    border: 8px solid @black-color;
    width: 90%;
    margin: 1rem 5%;
    opacity: 0;
    z-index: 2;
    //background: @black-color;
    .title {
      margin-top: 0;
      a {
      }
    }
    .subtitle {
    }


  }
  &:hover {
    background: transparent;
    figure {
      a.profile-img {
        img {
          -ms-transform: scale(1);
          -moz-transform: scale(1);
          -webkit-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);
        }
      }
      &:after {
        height: 100%;
        opacity: 1;
      }
    }
    .social-group {
      position: absolute;
      top: 10px;
      text-align: center;
      -ms-transform: scale(1);
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      a {
      }
    }
    .speaker-info {
      bottom: 5%;
      opacity: 1;
    }
  }
}


//
.lgx-single-speaker-five {
  border: 5px solid transparent;
  figure {
    position: relative;
    a.profile-img {
      img {
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
    figcaption {
      a {
      }
    }
  }
  .social-group {
    position: absolute;
    top: -10%;
    text-align: center;
    width: 100%;
    opacity: 0;
    a {
    }
  }
  .speaker-info {
    background: @black-color;
    position: absolute;
    bottom: -5%;
    padding: 1.5rem 10px;
    padding-bottom: 4.2rem;
    width: 100%;
    opacity: 0;
    z-index: 2;
    text-align: center;

    .title {
      a {

      }
    }
    .subtitle {

    }
  }
  &:hover {
    background: transparent;
    border-radius: 50%;
    border: 5px solid @white-color;
    figure {
      a.profile-img {
        -ms-transform: scale(2);
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
        img {
          -ms-transform: rotate(20deg);
          -moz-transform: rotate(20deg);
          -webkit-transform: rotate(20deg);
          -o-transform: rotate(20deg);
          transform: rotate(20deg);
        }
      }
      &:before {
        height: 100%;
        opacity: 1;
      }
    }
    .social-group {
      position: absolute;
      top: 10%;
      text-align: center;
      opacity: 1;
      a {
      }
    }
    .speaker-info {
      bottom: 0;
      opacity: 1;
    }
  }
}


//
.lgx-single-speaker-six {
  background: transparent;
  figure {
    position: relative;
    a.profile-img {
      overflow: hidden;
      display: block;
      img {
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
  }
  .social-group {
    position: absolute;
    top: -10%;
    text-align: center;
    width: 100%;
    opacity: 0;
    a {
    }
  }
  .speaker-info {
    background: transparent;
    .bg-rgba(@black-color, .5);
    padding: 1.5rem 10px 2.6rem;
    width: 100%;
    z-index: 2;
    text-align: center;
  }
  &:hover {
    figure {
      a.profile-img {
        img {
          -ms-transform: scale(1);
          -moz-transform: scale(1);
          -webkit-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);
        }
      }
      &:before {
        height: 100%;
        opacity: 1;
      }
    }
    .social-group {
      position: absolute;
      top: 10%;
      text-align: center;
      opacity: 1;
      a {
      }
    }
    .speaker-info {
      opacity: 1;
    }
  }
}

.vcx-speaker-nogap {
  margin-bottom: 0;
}


//-col4
.lgx-col5 {
  width: 20%;
  float: left;
  margin-bottom: 0;
}
.lgx-col4 {
  width: 25%;
  float: left;
  margin-bottom: 0;
}
.lgx-col3 {
  width: 33.33%;
  float: left;
  margin-bottom: 0;
}
.lgx-col2 {
  width: 50%;
  float: left;
  margin-bottom: 0;
}


