
.subscriber-title {
  font-family: @lgx-base-font;
  color: @white-color;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .08rem;
  margin-bottom: 2rem;
  margin-top: 0;
}
.subscriber-title-black {
  color: @black-color;
}

.lgx-subscriber-inner {
  padding-top: 6.8rem;
}
.lgx-subscriber-inner-indiv {
  padding: 6.8rem 0;
}


.lgx-subscribe-form {
  max-width: 750px;
  margin:  0 auto;
  display: flex;
  .form-group-email {
    width: 75%;
  }
  .form-control {
    .bg-rgba(@white-color, .8);
    color: @brand-color;
    height: 56px;
  }
  .form-control:focus {
    .bg-rgba(@white-color, 1);
    border-color: @brand-color;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .form-group-submit {
    //width: 25%;
  }
  .lgx-btn {
    background: @brand-color3;
    //border-radius: 4px;
    padding: 0;
    margin-left: 5px;
    &:hover {
      background: @brand-color2;
      //border-radius: 0;
    }
  }
  .lgx-btn input[type=submit] {
    background: 0 0;
    box-shadow: none;
    padding: 1.5rem 4rem;
    height: 60px;
    border: 0;
  }
  p {
    margin-bottom: 0;
  }
  .lgx-input-form {
    //border-radius: 4px;
  }
}

/********************************************
  Default Subscriber for WordPress Plugin
*********************************************/
.lgx-subscriber-area {
  .subscriber-title {
    text-align: center;
  }
}

.lgx-subscribe-form {
  .mc4wp-form{
    display: block;
    width: 100%;

    label {
      margin-bottom: 25px;
    }

    p {
      display: inline-block;
      overflow: hidden;
      &:first-child {
        width: 75%;
      }
    }

    /*input[type='email'] {
      display: block;
      width: 100%;
      padding: 1.5rem 2rem;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: none;
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      background: rgba(255,255,255,.8);
      height: 56px;
    }*/

  }
}

//
.lgx-subs-style-inline {
  display: flex;
  //max-width: 750px;
  .subscriber-title {
    .font-size(42);
    letter-spacing: normal;
    text-transform: none;
    margin-bottom: 0;
    //margin-top: .5rem;
    padding-right: 2.6rem;
    padding-left: 1.5rem;
  }
  .lgx-subscribe-form {
    flex: 1;
    max-width: 100%;
    //float: right;
  }
}
