aside {
  .widget {
    background: @white-color;
    border-radius: 0;
    padding: 2rem 2.6rem;
    margin-bottom: 1.5rem;
    -webkit-box-shadow: 0px 2px 10px rgba(52,61,71,.05);
    -moz-box-shadow: 0px 2px 10px rgba(52,61,71,.05);
    box-shadow: 0 2px 10px rgba(52,61,71,.05);
    overflow: hidden;
    .widget-title {
      font-family: @lgx-heading-font;
      .font-size(20);
      color: @brand-color;
      font-weight: 900;
      margin-top: 0;
      text-transform: uppercase;
      //text-decoration: underline;
    }

    #calendar_wrap,
    .textwidget,
    .tagcloud {
      overflow: hidden;
      display: block;
      border-radius: 6px;
      //background: @white-color;
    }
    #menu-testing-menu .sub-menu {
      box-shadow: none;
      margin-right: 0;
    }
    select {
      overflow: hidden;
      display: block;
      border-radius: 6px;
      background: @body-bg;
      padding: 1rem;
      border: 1px solid #ddd;
      width: 100%;
    }
    ul {
      padding-left: 0;
      display: block;
      border-radius: 6px;
      //background: @white-color;
      li {
        list-style: none !important;
        color: @black-color;
        border-bottom: 1px solid #f1f1f1;
        padding: 1rem 0;
        &:last-child {
          border-bottom: 0;
        }
        a {
          color: inherit;
          &:hover {
            color: @brand-color;
          }
        }

        ul {
          box-shadow: none;
          li {
            border: 0;
            padding: 1rem 0 1rem 1rem;

            &:last-child {
              padding-bottom: 0;
            }
            .children {
              margin-bottom: 0;
              &:last-child {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
  .widget_tag_cloud {
    .tagcloud {
      a {
        background: @body-bg-deep;

        padding: 5px 1.2rem;
        font-size: 12px !important;
        border-radius: 0;
        display: inline-block;
        overflow: hidden;
        -webkit-transition: all .3s ease-in-out 0s;
        -moz-transition: all .3s ease-in-out 0s;
        -o-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s;
        &:hover {
          background: @brand-color;
          color: @white-color;
        }
      }
    }
  }
}


.widget.widget_search {
  .search-submit {
    padding: 0 2rem;
  }
}


.widget_calendar {
  .calendar_wrap {
    background: @body-bg;
    border-radius: 0 !important;
    padding-bottom: 1.5rem;
    border: 1px solid @border-color;
    #wp-calendar {
      margin: 0 auto;
    }
  }
  .lgx-table tbody tr td,
  .lgx-table tbody tr th,
  table tbody tr td,
  .lgx-table thead tr th,
  table thead tr th,
  table tbody tr th {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}


.cart_list product_list_widget {
  a.button, button.button, input.button {
    padding: 2rem 3.5rem;
  }
}


.widget_product_search {
  .woocommerce-product-search {
    button {
      overflow: hidden;
      border: none;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
      outline: none;
      position: relative;
      color: @white-color;
      font-weight: 400;
      font-size: 14px;
      background: @white-color;
      border-radius: 0;
      margin: 0 auto;
      font-family: @lgx-heading-font;
      padding: 1.5rem 4rem;
      display: inline-block;
      letter-spacing: 2px;
      background: @brand-color;
      .transition-duration(@duration: 0.3s);
      -webkit-box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.4);
      -moz-box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.4);
      box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.4);
      margin: 0 2px;
      margin-top: .5rem;
      z-index: 1;
      &:hover {
        color: @white-color;
        background: @brand-color;
        border-radius: 16px;
        .transition-duration(@duration: 0.3s);
        -webkit-box-shadow: 0 14px 26px -12px rgba(85, 75, 185, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(85, 75, 185, 0.2);
        box-shadow: 0 14px 26px -12px rgba(85, 75, 185, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(85, 75, 185, 0.2);
      }
    }
    button:after {
      content: "";
      position: absolute;
      left: 25%;
      top: 50%;
      height: 500px;
      width: 500px;
      background: @black-color;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
      transform: translateX(-98%) translateY(-25%) rotate(45deg);
      opacity: .15;
    }
    button:hover:after {
      -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
      transform: translateX(-9%) translateY(-25%) rotate(45deg);
      height: 604%;
      width: 300px;
      right: 0;
      border-radius: 100%;
    }

  }
}


//404 page
.error-404,
.not-found {
  .page-header {
    border: none;
  }
  .page-title {
    font-family: @lgx-heading-font;
  }
  .search-form {
    margin-top: 2rem;
  }
}


//Table
table {
  td, th {
    border: 1px solid #ddd;
    padding: .5rem 1rem;
  }
}






aside {
  .widget {
    ul {
      li {
        a {
          overflow-wrap: break-word;
        }
      }
    }
  }
}

.lgx-page-wrapper article {
  display: block;
  //overflow: hidden;
  .lgx-single-news {
    //margin-bottom: 1rem;
    width: 100%;
    overflow: hidden;
    .featured-post {
      position: absolute;
      top: 0;
      right: 0;
      background: @brand-color2;
      padding: .5rem 2rem;
      color: @white-color;
    }
  }
}



/* pagination */
ul.page-numbers{
  overflow: hidden;
  text-align: center;
  padding-bottom: 1.8rem;
  li {
    background: @white-color;
    border-radius: 50%;
    display: inline-block;
    margin: .15rem;
    a, span {
      text-align: center;
      color: @black-color;
      -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
      display: block;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      line-height: 5rem;
      font-weight: 700;
    }
    .current {
      background: @brand-color;
      color: @white-color;
    }
    &:hover {
      background: @brand-color;
      color: @white-color;
      a, span {
        color: @white-color;
        b {
          display: block;
        }
      }
    }
  }
}
.page-links {
  padding-top: 2.6rem;
  display: block;
  a, span  {
    text-align: center;
    color: @black-color;
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 5rem;
    font-weight: 700;
    margin-right: .5rem;
    .transition-duration(@duration: 0.3s);
    &:hover, &:focus, &:active {
      background: @brand-color;
      color: @white-color;
    }
  }
  a span {
    background: @white-color;
    color: @brand-color;
  }
  span, .current {
    background: @brand-color;
    color: @white-color;
  }


  .page-links-title {
    background: transparent;
    box-shadow: none;
    margin-right: 1rem;
    color: @black-color;
    font-family: @lgx-heading-font;
    text-transform: uppercase;
    &:hover {
      background: transparent;
      color: inherit;
    }
  }
}

//
.post-navigation {
  overflow: hidden;
  display: block;
  width: 100%;
  margin-top: 1.5rem;
  //background: @body-bg;
  .nav-links {
    .nav-previous,
    .nav-next {
      background: @white-color;
      padding: 1rem 3rem;
      -webkit-box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.2);
      -moz-box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.2);
      box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.2);
      margin: 1rem;
      margin-bottom: 2rem;
      &:hover {
        color: @white-color;
        border-radius: 16px;
        .transition-duration(@duration: 0.3s);
        -webkit-box-shadow: 0 14px 26px -12px rgba(85, 75, 185, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(85, 75, 185, 0.2);
        box-shadow: 0 14px 26px -12px rgba(85, 75, 185, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(85, 75, 185, 0.2);
      }
    }
    .nav-previous {
      float: left;
    }
    .nav-next {
      float: right;
    }
  }
}






//WIDGET FOR FOOTER
.lgx-footer {
  .lgx-footer-single ul li {
    color: @white-color;
    opacity: .7;
    a {
      color: inherit;
    }
  }
  caption {
    font-family: @lgx-heading-font;
    color: @brand-color3;
  }
  .lgx-table thead tr th, table thead tr th {
    color: @white-color;
  }
  select {
    background: @brand-color;
    height: 45px;
    padding-left: 1rem;
    border: 1px solid @border-color;
  }
  .tag-cloud-link {
    .bg-rgba(@white-color, .1);
    color: @white-color;
    padding: .2rem 1.5rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
    display: inline-block;
    font-size: 14px !important;
    font-family: @lgx-heading-font;
    font-weight: 400;
    letter-spacing: .05rem;
    &:hover {
      background: @brand-color;
      -webkit-box-shadow: 0px 2px 10px rgba(52,61,71,.2);
      -moz-box-shadow: 0px 2px 10px rgba(52,61,71,.2);
      box-shadow: 0 2px 10px rgba(52,61,71,.2);
    }
  }
  .lgx-footer-single ul {
    margin-left: -4rem;
    li {
      list-style: none;
      a {
        font-weight: 400;
        letter-spacing: .05rem;
        &:hover {
          color: @brand-color3;
        }
      }
    }
  }
}

.lgx-footer .lgx-footer-single ul.lgx-social-footer {
  margin-left: 0;
}



//RESPONSIVE
@media (max-width : @screen-md-max) {
  .widget_calendar {
    caption {
      padding: 1rem .6rem;
      padding-bottom: .6rem;
    }
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .widget_calendar {
    .lgx-table tbody tr td,
    .lgx-table tbody tr th,
    table tbody tr td,
    .lgx-table thead tr th,
    table thead tr th,
    table tbody tr th {
      padding: .4rem;
      //padding-bottom: 1rem;
      font-size: 12px;
    }
  }
}





