.woocommerce .woocommerce-ordering select {
  padding: 8px 6px;
  border: 1px solid #ddd;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  background: @white-color;
  -webkit-box-shadow: 0 13px 35px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 13px 35px rgba(0,0,0,0.05);
  box-shadow: 0 13px 35px rgba(0,0,0,0.05);
  text-align: center;
  border-radius: 0;
  padding-bottom: 2.6rem;
  -webkit-transition: all .3s ease-in-out 0s;
  -moz-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
  .woocommerce-loop-product__link {
    overflow: hidden;
  }
  .attachment-woocommerce_thumbnail {
    .transition-duration(@duration: 1s);
  }
  .woocommerce-loop-product__title {
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    padding-top: 0;
    line-height: 3rem;
    color: @black-color;
    text-transform: uppercase;

  }
  &:hover {
    background: @body-bg-deep;
    .attachment-woocommerce_thumbnail {
    }
    .woocommerce-loop-product__title {
      //color: @white-color;
    }
  }
}

.woocommerce div.product .product_title {
  .font-size(26);
  line-height: 5rem;
}
.woocommerce-Tabs-panel h2 {
  .font-size(20);
  line-height: 3rem;
  text-transform: uppercase;
}
.related.products {
  h2 {
    /*.font-size(26);
    line-height: 3.5rem;
    text-transform: uppercase;*/
  }
}

.woocommerce ul.products li.product .price {
  //color: @brand-color2;
  font-weight: 900;
}
.woocommerce div.product .woocommerce-tabs .panel {
  background: transparent;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
  border-bottom: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
  left: 0;
  border-width: 0;
  box-shadow: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
  border: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  border: none;
  background-color: #ebe9eb;
  display: inline-block;
  position: relative;
  z-index: 0;
  border-radius: 4px 4px 0 0;
  margin: 0 -5px;
  padding: 0 1em;
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
  width: 150px;
}


#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
  border: 1px solid #ddd;
  padding: 8px 9px 8px;
  border-radius: 0;
}

// Login Admin Page
.logged-in {
  .woocommerce-MyAccount-navigation {
    //.bg-rgba(@brand-color2, .9);
    -webkit-box-shadow: 0 13px 35px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 13px 35px rgba(0,0,0,0.05);
    box-shadow: 0 13px 35px rgba(0,0,0,0.05);
    padding: 2rem .5rem;
    border-radius: 0;
    ul {
      li {
        list-style: none;
        font-family: @lgx-heading-font;
        color: @white-color;
        padding: .5rem 1rem;
        border-radius: 4px;
        a {
          color: @white-color;
        }
        &:hover {
          //.bg-rgba(@brand-color2, 1);
        }
      }
    }
  }
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt,
.woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: @brand-color;
}



//Cart & Checkout Page
.woocommerce div.product p.price,
.woocommerce div.product span.price {
  //color: @brand-color;
}
.woocommerce span.onsale {
  //background-color: @brand-color2;
}
.wcppec-checkout-buttons {
  text-align: right;
  margin: 1em 0;
  overflow: hidden;
  display: block;
  width: 100%;
}
.wcppec-checkout-buttons__button {
  //padding-top: 0;
}
.woocommerce {
  .related.products {
    h2 {
      margin: 4.2rem 0 2.6rem 0;
    }
  }
  .woocommerce-Reviews {
    #commentform {
      background: @white-color;
      -webkit-box-shadow: 0 13px 35px rgba(0,0,0,0.05);
      -moz-box-shadow: 0 13px 35px rgba(0,0,0,0.05);
      box-shadow: 0 13px 35px rgba(0,0,0,0.05);
      padding: 4.2rem;
      border-radius: 0;
      border: 1px solid @border-color;
      input {
        height: 45px;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding-left: 1rem;
      }
      textarea {
        min-height: 150px;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding-left: 1rem;
      }
    }
    input#submit {
      padding: 1.5rem 3rem;
      //background: @brand-color2 !important;
      &:hover {
        //background: @brand-color !important;
      }
    }
  }
  #reviews #comments .woocommerce-Reviews-title {
    margin-bottom: 2rem;
    display: block;
  }
  .woocommerce-info,
  .woocommerce-message {
    //border-top-color: @brand-color2;
    border-top: 0;
    //.bg-rgba(@brand-color2, 0.5);
    border-radius: 4px;
  }
  .form-row input.input-text {
    height: 45px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-left: 1rem;
  }
  form .form-row textarea {
    min-height: 150px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-left: 1rem;
  }
  form.woocommerce-checkout {
    background: @white-color;
    -webkit-box-shadow: 0 13px 35px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 13px 35px rgba(0,0,0,0.05);
    box-shadow: 0 13px 35px rgba(0,0,0,0.05);
    padding: 2.6rem;
    border-radius: 0;
    border: 1px solid @border-color;
  }

  a.checkout-button,
  #payment #place_order {
    //padding: 1.5rem 3rem;
    background: @brand-color2 !important;
    &:hover {
      //background: @brand-color !important;
    }
  }
  .woocommerce-cart-form {
    background: @white-color;
    -webkit-box-shadow: 0 13px 35px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 13px 35px rgba(0,0,0,0.05);
    box-shadow: 0 13px 35px rgba(0,0,0,0.05);
    border-radius: 4px;
  }
  table.shop_table th {
    font-weight: 700;
    padding: 13px 12px;
    font-family: @lgx-heading-font;
  }
  table.shop_table td {
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 12px 12px;
    vertical-align: middle;
  }
}



//Login Page
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
  border: 1px solid @border-color;
  //.bg-rgba(@brand-color2, 0.2);
  border-radius: 0;
  -webkit-box-shadow: 0 13px 35px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 13px 35px rgba(0,0,0,0.05);
  box-shadow: 0 13px 35px rgba(0,0,0,0.05);
}
.woocommerce {
  .woocommerce-Input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 1.5rem 2rem;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: @white-color;
    background-image: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
}


.woocommerce {
  .has-post-thumbnail {
    a.button,
    button.button,
    input.button {
      //padding: .8rem 2rem;
    }
  }
}

.woocommerce ul.products li.product .button {
  margin-top: 0;
}








.woocommerce ul.products li.product .price del {
  display: inline-block;
}
.woocommerce .products .star-rating {
  display: none;
}

/* pagination */
.woocommerce nav.woocommerce-pagination ul {
  border: 0;
}
.woocommerce nav.woocommerce-pagination ul li {
  border-right: 0;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers{
  overflow: hidden;
  padding-left: 15px;
  li {
    background: @white-color;
    border-radius: 50%;
    display: inline-block;
    /*width: 60px;
    height: 60px;*/
    margin: 3px;
    a, span {
      background: @white-color;
      color: @brand-color;
      -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
      display: block;

      border-radius: 50%;
      width: 50px;
      height: 50px;
      line-height: 3.5rem;
      font-weight: 700;
    }
    .current {
      color: @white-color;
      background: @brand-color;
    }
    &:hover {
      //background: @brand-color;
      a, span {
        //color: @white-color;
        b {
          display: block;
          -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
          -webkit-transform-origin: center;
          transform-origin: center;
          animation-duration: 500ms;
          animation-timing-function: linear;
        }
      }
    }
  }
}

.woocommerce .woocommerce-result-count {
  margin-bottom: 0 !important;
  margin-top: 12px;
}


.logged-in .woocommerce-MyAccount-navigation {
  border-radius: 0;
  background: @brand-color;
  padding-left: 2rem;
  padding-right: 2rem;
}


.logged-in .woocommerce-MyAccount-navigation ul {
  padding-left: 0;
  li {
    padding: 1rem 0;
    letter-spacing: 1px;
  }
}
.logged-in .woocommerce-MyAccount-navigation ul li.is-active {
  list-style: none;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0;
  .bg-rgba(@brand-color3, 1);
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
  display: inline-block;
  padding: 2rem 4.2rem;
  float: right;
  .font-size(16);
}
input#coupon_code {
  height: 54px;
}
.woocommerce .quantity .qty {
  height: 54px;
}
.woocommerce-form__label.woocommerce-form__label-for-checkbox {
  margin-top: 1rem;
  display: block !important;
  text-align: left;
  .woocommerce-form__input.woocommerce-form__input-checkbox {
    display: inline-block !important;
    width: auto !important;
    height: auto !important;
  }
}





.woocommerce .form-row input.input-text {
  height: 55px;
  padding: 6px 15px;
  font-size: 14px;
  line-height: 1.42857143;
  color: @black-color;
  .bg-rgba(@white-color, 0.9);
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #ddd;
  .transition-duration(@duration: 0.3s);
  &:hover,
  &:focus {
    //box-shadow: none;
    border: 1px solid @brand-color;
    .bg-rgba(@white-color, 1);
    border-radius: 16px;
    -webkit-box-shadow: 0 0 15px 0 rgba(68,67,73,0.1);
    -moz-box-shadow: 0 0 15px 0 rgba(68,67,73,0.1);
    box-shadow: 0 0 15px 0 rgba(68,67,73,0.1);
  }
}

.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text {
  .transition-duration(@duration: 0.3s);
  padding: 6px 15px;
  &:hover,
  &:focus {
    //box-shadow: none;
    border: 1px solid @brand-color;
    .bg-rgba(@white-color, 1);
    border-radius: 0;
    -webkit-box-shadow: 0 0 15px 0 rgba(68,67,73,0.1);
    -moz-box-shadow: 0 0 15px 0 rgba(68,67,73,0.1);
    box-shadow: 0 0 15px 0 rgba(68,67,73,0.1);
  }
}

#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
  border: 1px solid #ddd;
  padding: 11px 9px;
  border-radius: 0;
  .transition-duration(@duration: 0.3s);
  &:hover,
  &:focus {
    border: 1px solid @brand-color;
    .bg-rgba(@white-color, 1);
    border-radius: 16px;
    -webkit-box-shadow: 0 0 15px 0 rgba(68,67,73,0.1);
    -moz-box-shadow: 0 0 15px 0 rgba(68,67,73,0.1);
    box-shadow: 0 0 15px 0 rgba(68,67,73,0.1);
  }
}




.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
  margin-bottom: 4.2rem !important;
}

.woocommerce .quantity .qty {
  padding: 8px;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: @brand-color3;
  font-weight: 900;
}


.woocommerce span.onsale {
  background-color: @brand-color2;
}

.woocommerce ul.products li.product .price {
  color: @brand-color3;
}

//New
.lgx-shop-page,
.lgx-single-shop {
  padding: 11rem 0;
}


//Group Product
.woocommerce-grouped-product-list.group_table {
  background: @white-color;
  padding: 1rem;
  margin-bottom: 2rem;
  display: block;
  padding-bottom: .5rem;
  tbody {
    display: block;
    tr {
      .bg-rgba(@brand-color, .1);
      margin-bottom: .5rem;
      display: block;
      padding: 1rem;
    }
  }
}
.woocommerce-grouped-product-list.lgx-table tbody tr td,
.woocommerce-grouped-product-list.lgx-table tbody tr th,
.woocommerce-grouped-product-list tbody tr td,
.woocommerce-grouped-product-list tbody tr th {
  padding-top: 0 !important;
  padding-bottom: 0;
  background: transparent;
}
.woocommerce div.product form.cart .woocommerce-grouped-product-list.group_table td:first-child {
  width: Auto;
}
.woocommerce div.product form.cart .woocommerce-grouped-product-list.group_table td {
  padding-bottom: 0;
}

.woocommerce .woocommerce-grouped-product-list a.button {
  padding: 1.2rem 2rem;
  font-size: 12px;
}

.woocommerce .woocommerce-grouped-product-list .quantity .qty,
.woocommerce-grouped-product-list input#coupon_code {
  height: 40px;
}

.woocommerce-grouped-product-list.lgx-table tbody tr td:hover,
.woocommerce-grouped-product-list.lgx-table tbody tr th,
.woocommerce-grouped-product-list.lgx-table tbody tr th:hover,
.woocommerce-grouped-product-list tbody tr td:hover,
.woocommerce-grouped-product-list tbody tr th, table tbody tr th:hover {
  background: transparent;
}

.woocommerce .variations_form.cart {
  .variations {
    //background: @white-color;
    //.bg-rgba(@brand-color, .1);
    padding: 1rem;
    margin-bottom: 1rem;
    display: block;
    padding-bottom: 0;
    select {
      max-width: 100%;
      min-width: 75%;
      display: block !important;
      margin-right: 1em;
    }
    tbody {
      display: block;
      tr {
        //.bg-rgba(@brand-color, .1);
        margin-bottom: .5rem;
        //display: block;
        padding: 1rem;
        td {
          padding: 0;
          background: transparent;
          label {
            color: @black-color;
            text-transform: uppercase;

          }
        }
      }
    }
  }
}

#ship-to-different-address {
  .woocommerce-form__label-for-checkbox {
    #ship-to-different-address-checkbox {
      width: 25px !important;
      height: 25px !important;
    }
    span {
      position: relative;
      top: -6px;
      margin-left: 10px;
    }
  }
}

.woocommerce a.added_to_cart {
  font-family: @lgx-heading-font;
  font-size: 13px;
  text-transform: uppercase;
  color: @brand-color2;
  padding-top: 0;
  display: inline-block;
  position: relative;
  top: -15px;
}

.woocommerce .select2-container--default .select2-selection--single {
  border: 1px solid @border-color;
  border-radius: 0;
  height: 55px;
  padding-top: 1.2rem;
  padding-left: 1rem;
}
.woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 1.2rem;
  right: 10px;
}
.woocommerce form .form-row textarea {
  border-radius: 0;
}

.woocommerce .woocommerce-MyAccount-content legend {
  font-family: @lgx-heading-font;
  font-weight: 700;
  margin-bottom: 20px;
  border-bottom: 0 solid #e5e5e5;
  margin-top: 2.6rem;
  text-transform: uppercase;
}

.woocommerce .woocommerce-MyAccount-content fieldset {
  margin-bottom: 2rem;
}

.woocommerce-Address-title .edit {
  padding: .8rem 2.6rem;
}

.woocommerce .product_meta {
  .sku_wrapper,
  .posted_in {
    display: block;
    font-weight: 700;
    font-family: @lgx-heading-font;
    span, a {
      font-weight: 400;
      font-family: @lgx-base-font;
      margin-left: .2rem;
    }
  }
}
