
.lgx-banner-inner-sp {
  padding: 22rem 0;
}
.lgx-header-inner-df {
  padding: 28rem 0 24rem;
}
.lgx-header-inner-overflow {
  padding: 24rem 0 ;
}
.lgx-header-inner-md {
  padding: 25rem 0 21rem;
}
.lgx-header-inner-sm {
  padding: 16rem 0;
}

.lgx-header-inner-auto {
  padding: 22rem 0 6.8rem;
}

//lgx-banner-inner-box
.lgx-header-inner-box {
  padding: 11rem 0;
  margin-top: 1.6rem;
}
.lgx-container-fluid {
  padding-left: 3rem;
  padding-right: 3rem;
}

.lgx-container-fixed {
  max-width: 1144px;
  margin: 0 auto;
}

//lgx-banner-box
.lgx-banner-info-box {
  max-width: 1620px;
  margin: 0 auto;
  padding: 15rem 2.6rem;
  -webkit-box-shadow: 0px 0px 30px 8px rgba(0,0,0,0.05), -2px 0px 5px 1px rgba(0,0,0,0.05);
  -ms-box-shadow: 0px 0px 30px 8px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -o-box-shadow: 0px 0px 30px 8px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 30px 8px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 30px 8px rgba(0,0,0,0.05), -2px 0px 5px 1px rgba(0,0,0,0.05);
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}



.lgx-banner-info-area {
  display: flex;
}
.lgx-banner-info {
  color: @white-color;
  .lgx-videoicon-area {
    position: relative;
    top: 0;
    left: -12px;
  }
  .header-video-text {
    position: relative;
    top: -47px;
    left: -13px;
    font-family: @lgx-heading-font;
    font-weight: 300;
    letter-spacing: 2px;
    opacity: .7;
  }
  .ripple-block {
    position: relative;
    width: 7em;
    height: 7em;
    display: inline-block;
  }
  .fa-play {
    font-size: 20px;
    width: 65px;
    height: 65px;
    line-height: 65px;
    padding-left: 5px;
  }
  .ripple {
    width: 7em;
    height: 7em;
  }
  /*.lgx-header-countdown-circular {
    max-width: 700px;
    margin: 0 auto;
  }*/
  .subtitle {
    font-family: @lgx-base-font;
    .font-size(42);
    font-weight: 300;
    color: @brand-color3;
    margin: 0;
    line-height: 6rem;
    margin-bottom: 1rem;
  }

  .sm-title {
    margin: 0;
    font-family: @lgx-heading-font;
    .font-size(110);
    line-height: 12rem;
    font-weight: 700;
    color: @white-color;
    //text-transform: uppercase;
    margin-bottom: 2.6rem;
    letter-spacing: -1px;
    span {
      font-weight: 700;
      font-style: italic;
    }
    b {
      font-style: normal;
      font-weight: 700;
      &:nth-of-type(1) {
        color: @brand-color2;
      }
      &:nth-of-type(2) {
        color: @brand-color3;
      }
      &:nth-of-type(3) {
        color: @brand-color4;
      }
    }
  }

  .title {
    margin: 0;
    font-family: @lgx-base-font;
    .font-size(68);
    line-height: 7rem;
    font-weight: 900;
    color: @white-color;
    //text-transform: uppercase;
    margin-bottom: 2.6rem;
    span {
      background-size: 100px 1.15em !important;
      font-weight: 900;
    }
    span:nth-of-type(1),
    span:nth-of-type(4){
      background: linear-gradient(to bottom,rgba(0,0,0,0) 80%,@brand-color2 80%);
    }
    span:nth-of-type(2),
    span:nth-of-type(5){
      background: linear-gradient(to bottom,rgba(0,0,0,0) 80%,@brand-color3 80%);
    }
    span:nth-of-type(3),
    span:nth-of-type(6){
      background: linear-gradient(to bottom,rgba(0,0,0,0) 80%,@brand-color4 80%);
    }
    span:nth-of-type(4),
    span:nth-of-type(7){
      background: linear-gradient(to bottom,rgba(0,0,0,0) 80%,@brand-color 80%);
    }
    span#lgx-typed-string {
      //font-style: italic;
    }
    b {
      font-weight: 900;
      color: @brand-color;
      &:nth-of-type(1) {
        color: @brand-color2;
      }
      &:nth-of-type(2) {
        color: @brand-color3;
      }
      &:nth-of-type(3) {
        color: @brand-color4;
      }
      &:nth-of-type(4) {
        color: @white-color;
      }
    }
  }

  .date {
    font-family: @lgx-heading-font;
    .font-size(26);
    font-weight: 300;
    color: @white-color;
    margin: 0 0 .3rem;
    i {
      color: @brand-color3;
    }
  }
  .location-area {
    //display: flex;
  }
  .location {
    font-family: @lgx-heading-font;
    .font-size(20);
    font-weight: 300;
    color: @border-color;
    margin: 0 1.5rem .3rem 0;
    letter-spacing: 1px;
    display: inline-block;
    i {
      color: @brand-color3;
      opacity: .4;
    }
  }
  .action-area {
    display: flex;
    margin-top: 4.2rem;
    .lgx-btn {
      margin-right: .5rem;
    }
    .video-area {
      display: inline-block;
      color: @white-color;
      position: relative;
      top: -18px;
      margin-left: 1rem;
      a {
        margin-right: 10px;
      }
      a {
        i {
          display: inline-block;
          .bg-rgba(@white-color, 0.2);
          color: @white-color;
          border-radius: 50%;
          height: 60px;
          width: 60px;
          text-align: center;
          line-height: 61px;
          font-size: 20px;
          padding-left: 5px;
          .transition-duration(@duration: 0.3s);
        }
        &:hover {
          i {
            .bg-rgba(@white-color, 1);
            color: @brand-color3;
          }
        }
      }
    }
  }
}



.lgx-header-color-dark {
  color: @black-color;
  .subtitle {
    color: @brand-color3;
  }

  .sm-title {
    color: @black-color;
    b {
      &:nth-of-type(1) {
        color: @brand-color2;
      }
      &:nth-of-type(2) {
        color: @brand-color3;
      }
      &:nth-of-type(3) {
        color: @brand-color4;
      }
    }
  }

  .title {
    color: @black-color;
    span:nth-of-type(1),
    span:nth-of-type(4){
      background: linear-gradient(to bottom,rgba(0,0,0,0) 80%,@brand-color2 80%);
    }
    span:nth-of-type(2),
    span:nth-of-type(5){
      background: linear-gradient(to bottom,rgba(0,0,0,0) 80%,@brand-color3 80%);
    }
    span:nth-of-type(3),
    span:nth-of-type(6){
      background: linear-gradient(to bottom,rgba(0,0,0,0) 80%,@brand-color4 80%);
    }
    span:nth-of-type(4),
    span:nth-of-type(7){
      background: linear-gradient(to bottom,rgba(0,0,0,0) 80%,@brand-color 80%);
    }
    b {
      font-weight: 900;
      color: @brand-color;
      &:nth-of-type(1) {
        color: @brand-color2;
      }
      &:nth-of-type(2) {
        color: @brand-color3;
      }
      &:nth-of-type(3) {
        color: @brand-color4;
      }
      &:nth-of-type(4) {
        color: @black-color;
      }
    }
  }

  .date {
    color: rgba(50, 51, 51, 0.7);
    i {
      color: @brand-color3;
    }
  }
  .location {
    color: rgba(50, 51, 51, 0.7);
    i {
      color: @brand-color3;
    }
  }
  .action-area {
    color: @black-color;
    .video-area {
      color: @black-color;
      a {
        i {
          .bg-rgba(@white-color, 0.2);
          color: @white-color;
        }
        &:hover {
          i {
            .bg-rgba(@white-color, 1);
            color: @brand-color3;
          }
        }
      }
    }
  }
  /*.lgx-banner-info .action-area {
    display: flex;
    margin-top: 4.2rem;
    color: red;
  }*/
}
.lgx-banner-info .action-area .lgx-btn {
  z-index: 9;
}

.varieties-title .typed-cursor {
  font-weight: 400 !important;
  background: none !important;
  //color: @brand-color;
}

.slider-text-single {
  .lgx-banner-info {
    //margin-top: 4.2rem;
  }
}
.banner-info-margin {
  margin-top: 4.2rem;
}

.lgx-banner-info.lgx-banner-info-homeone {
  margin-top: -4.2rem;
  margin-bottom: 4.2rem;
}


.lgx-banner-info-circle {
  background: -moz-linear-gradient(top,  rgba(85, 76, 185, .9) 0%, rgba(236, 57, 139, 0.9) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, bottom top, bottom top, color-stop(0%,rgba(85, 76, 185, .9)), color-stop(100%,rgba(236, 57, 139, 0.9))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(85, 76, 185, .9) 0%,rgba(236, 57, 139, 0.9) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(85, 76, 185, .9) 0%,rgba(236, 57, 139, 0.9) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(85, 76, 185, .9) 0%,rgba(236, 57, 139, 0.9) 100%); /* IE10+ */
  background: linear-gradient(to top,  rgba(85, 76, 185, .9) 0%,rgba(236, 57, 139, 0.9) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(85, 76, 185, .9)', endColorstr='rgba(236, 57, 139, 0.9)',GradientType=0 ); /* IE6-9 */
  padding: 15px;
  border-radius: 50%;
  max-width: 430px;
  max-height: 430px;
  margin: 0 auto;
  .info-circle-inner {
    //background: url('../img/banner-circle.jpg') top center no-repeat;
    .bg-rgba(@black-color, 0.5);
    text-align: center;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    .date {
      margin-top: 0;
      padding-top: 2.6rem;
      .font-size(166);
      line-height: 16rem;
      color: @brand-color3;
      span {
        font-family: @lgx-base-font;
        color: @white-color;
        text-transform: uppercase;
        .font-size(42);
        font-weight: 700;
        display: block;
        opacity: .8;
      }
    }
  }
}


.lgx-banner-info-date {
  padding-right: 2rem;
  max-width: 380px;
  text-align: center;
  .date {
    margin: 0;
    padding-top: 0;
    .font-size(320);
    line-height: 28rem;
    color: @brand-color3;
    position: relative;
    letter-spacing: -10px;
    span {
      font-family: @lgx-base-font;
      color: @white-color;
      text-transform: uppercase;
      .font-size(42);
      font-weight: 700;
      display: block;
      opacity: 1;
      letter-spacing: normal;
      position: absolute;
      top: 50%;
    }
  }
  .location {
    font-family: @lgx-heading-font;
    .font-size(26);
    font-weight: 400;
    color: @white-color;
    //margin: 0 0 .3rem;
    text-align: center;
    i {
      color: @brand-color3;
    }
  }
}

.lgx-banner-info-date-right {
  border-radius: 8px;
  padding-right: 0;
  padding-left: 2rem;
}

.lgx-banner-info-homeone {
  .subtitle {
    font-family: @lgx-base-font;
    .font-size(68);
    font-weight: 300;
    color: @brand-color3;
    margin: 0;
    line-height: 7.2rem;
  }
  .title {
    margin: 0;
    font-family: @lgx-heading-font;
    .font-size(110);
    line-height: 12rem;
    font-weight: 700;
    color: @white-color;
    text-transform: uppercase;
    span {
      display: block;
      b {

      }
      b:nth-child(1) {
        color: @brand-color2;
      }
      b:nth-child(2) {
        color: @brand-color3;
      }
      b:nth-child(3) {
        color: @brand-color4;
      }
    }
  }
}


.lgx-banner-info-left .circular-countdown-area {
  margin-left: 0;
}

.lgx-banner-info-left {
  text-align: left;
}
.lgx-banner-info-right {
  text-align: right;
  .action-area {
    display: block;
  }
}

.lgx-banner-info .lgx-header-countdown-circular .vcx-circular-countdown {
  max-width: 700px;
}

.lgx-banner-info .lgx-header-countdown-circular.banner-countdown-align-center .vcx-circular-countdown {
  margin: 0 auto;
}
.lgx-banner-info .lgx-header-countdown-circular.banner-countdown-align-right {
  .vcx-circular-countdown {
    max-width: 100%;
  }
}

.lgx-header-countdown-simple.banner-countdown-align-right.banner-countdown-style-default {
  margin-right: 3rem;
}
.lgx-header-countdown-simple.banner-countdown-align-right.banner-countdown-style-border,
.lgx-header-countdown-simple.banner-countdown-align-right.banner-countdown-style-dot {
  margin-right: -2rem;
}


.lgx-banner-info-center {
  text-align: center;
  .subtitle {
    margin-bottom: 1rem;
  }
  .action-area {
    display: inline-block;
  }
}

.lgx-banner-info-christmas,
.lgx-banner-info-comingsoon {
  .lgx-countdown-area {
    margin-top: 4.2rem;
  }
}



.lgx-slider-center {
  .owl-item {
    .slider-text-single {
      figure {
        overflow: hidden;
        img {
          -webkit-transition: all 0.3 ease;
          transition: all 0.3s linear;
        }
        figcaption {
          .bg-rgba(black, .5);
        }
      }
      &:hover {
        figure {
          img {
            -ms-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            -o-transform: scale(1.5);
            transform: scale(1.5);
          }
        }
      }
    }
    .lgx-banner-info {
      opacity: 0;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3s linear;
    }
  }
  .owl-item.active.center {
    .slider-text-single figure figcaption {
      background: transparent;
    }
    .lgx-banner-info {
      opacity: 1;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3s linear;
    }
  }
  .lgx-banner-info {
    color: @white-color;
    padding: 0 5rem;
    .subtitle {
      .font-size(42);
      font-weight: 900;
      color: @brand-color;
      margin: 0;
      line-height: 4.2rem;
    }
    .title {
      .font-size(68);
      font-weight: 900;
      color: @white-color;
      margin: 0;
      line-height: 8.5rem;
      margin-bottom: 2.6rem;
    }
    .text {
      color: @white-color;
      margin-bottom: 2.6rem;
      opacity: .7;
    }
    .lgx-btn {
      padding: 1rem 3rem;
    }
  }
}



.lgx-banner-info-reservation {
  margin-top: 6.8rem;
}



.lgx-banner-info2 {
  color: @white-color;
  .subtitle {
    .font-size(68);
    font-weight: 900;
    color: @brand-color;
    margin: 0;
    line-height: 7rem;
  }
  .title {
    .font-size(68);
    font-weight: 900;
    color: @black-color;
    margin: 0;
    line-height: 8.5rem;
    margin-bottom: 4.2rem;
  }
}

.lgx-item-parallax-banner {
  .lgx-banner-info  {
    padding-left: 15px;
    padding-right: 15px;
  }
}





//RESPONSIVE
@media (min-width: 1200px) and (max-width: 1400px) {

  .lgx-header-inner-df {
    padding: 18rem 0 13rem;
  }
  .lgx-header-inner-md {
    padding: 18rem 0 13rem;
  }

  .lgx-header-inner-overflow {
    padding: 20rem 0 ;
  }



  .lgx-banner-info {
    .subtitle {
      .font-size(32);
      line-height: 5rem;
    }
    .title {
      .font-size(50);
      line-height: 5.5rem;
      font-weight: 900;
    }
    .sm-title {
      .font-size(90);
      line-height: 12rem;
    }
    .lgx-videoicon-area {
      top: 0;
    }
  }
}

/* -----------------------------------------------------------------------
     Medium devices (desktops, UP TO 1199px~992px)
 ------------------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {
  .lgx-banner-info-circle {
    padding: 5px;
    max-width: 276px;
    max-height: 276px;
    .info-circle-inner {
      width: 266px !important;
      height: 266px!important;
    }
    .lgx-countdown-area-hc .lgx-countdown {
      span {
        .font-size(30);
      }
    }
  }
  .lgx-banner-info-circle .info-circle-inner .date {
    padding-top: 4rem;
    font-size: 11rem;
    line-height: 12rem;
    span {
      font-size: 2.6rem;
      line-height: 3rem;
    }
  }
}
@media (max-width : @screen-md-max) {
  /************** 1199 GLOBAl USE***********/

}
/* ----------------------------------------------------------------------
     Small devices (tablets, UP TO 991px~768px)
 -----------------------------------------------------------------------*/
@media (max-width : @screen-sm-max) {
  /************** 991 GLOBAl USE***********/
  .lgx-banner .lgx-inner {
    //padding: 16rem 0 10rem;
  }
  .lgx-banner-info .title {
    .font-size(68);
    line-height: 7.8rem;
  }
  .lgx-banner-info .subtitle {
    .font-size(42);
    line-height: 5rem;
  }
  .lgx-banner-info .action-area {
    margin-top: 3rem;
  }

  .lgx-header-inner-df {
    padding: 18rem 0 11rem;
  }
  .lgx-header-inner-md {
    padding: 18rem 0 11rem;
  }
  .lgx-header-inner-auto {
    padding: 18rem 0 6.8rem;
  }
  .lgx-header-inner-overflow {
    padding: 18rem 0 ;
  }

  .lgx-banner-info-circle {
    padding: 15px;
    max-width: 300px;
    max-height: 300px;
  }
  .lgx-banner-info-circle {
    margin-right: 0;
    float: left;
  }
  .lgx-banner-inner-sp {
    padding: 11rem 0;
  }


  /*
  .lgx-banner-info  {
    padding-left: 15px;
    padding-right: 15px;
  }*/

  /************** 991 GLOBAl USE END ***********/
}




/* ---------------------------------------------------------------------
    Extra small devices (phones, less UP TO 767px)
 ----------------------------------------------------------------------*/
@media (max-width : @screen-xs-max) {
  /************** 767 GLOBAl USE***********/
  .lgx-banner-info {
    color: @white-color;
    .subtitle {
      .font-size(42);
      line-height: 4.5rem;
    }
    .title {
      .font-size(68);
      line-height: 7rem;
      margin-bottom: 2rem;
    }
    .text {
      margin-bottom: 2rem;
    }
  }

  .lgx-banner-info .date,
  .lgx-banner-info .location {
    .font-size(20);
    line-height: 2.8rem;
  }

  .lgx-banner .lgx-inner {
    padding: 11rem 0;
  }


  .slider-text-single {
    figure {
      overflow: hidden;
      img {
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: all 0.3 ease;
        transition: all 0.3s linear;
        height: 300px;
      }
      figcaption {

      }
    }
    &:hover {
      figure {
        img {
          -ms-transform: scale(1.5);
          -moz-transform: scale(1.5);
          -webkit-transform: scale(1.5);
          -o-transform: scale(1.5);
          transform: scale(1.5);
        }
      }
    }
  }
  .lgx-slider-center .lgx-banner-info .subtitle {
    font-size: 2.6rem;
    line-height: 3rem;
  }
  .lgx-slider-center .lgx-banner-info .title {
    font-size: 2.6rem;
    line-height: 4rem;
  }

  .lgx-header-inner-df {
    padding: 11rem 0;
  }
  .lgx-header-inner-md {
    padding: 11rem 0;
  }
  .lgx-header-inner-sm {
    padding: 11rem 0;
  }
  .lgx-header-inner-overflow {
    padding: 11rem 0 ;
  }
  .lgx-header-inner-auto {
    padding: 11rem 0 4.2rem;
  }
  .lgx-header-inner-box {
    padding: 6.8rem 0;
    margin-top: 0;
    .lgx-countdown-area {
      .lgx-countdown {
        span {
          margin-bottom: 2.6rem;
        }
      }
    }
  }
  .lgx-banner-info-box {
    padding: 6.8rem 2rem;
  }

  .lgx-banner-info-circle {
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    background: transparent!important;
    .info-circle-inner {
      width: 100% !important;
      height: 100% !important;
      background: transparent !important;
      margin-bottom: -3rem !important;
    }
  }
  .lgx-banner-info .sm-title {
    margin: 0 0 1.6rem;
    font-size: 6.8rem;
    line-height: 7rem;
  }
  .lgx-header .lgx-navbar .lgx-logo, .lgx-header .lgx-navbar .lgx-logo-default {
    margin-top: 10px;
  }
  .lgx-header .lgx-container-box .lgx-navbar .lgx-logo, .lgx-header-position-fixed.menu-onscroll, .lgx-header-position-fixed.menu-onscroll .navbar-collapse {
    margin-top: 0;
  }
  .lgx-banner-inner-sp {
    padding: 2.6rem 0 4.2rem;
  }

  .lgx-about-circle {
    .lgx-banner-info-circle .info-circle-inner .date span {
      color: @black-color;
    }
    .lgx-countdown {
      background: @brand-color;
      float: left;
      padding: .5rem 2rem 1.6rem;
      margin-top: 1rem;
      border-radius: 100px;
    }
  }

  /************** 767 GLOBAl USE END***********/

}/*767 END*/


/* ----------------------------------------------------------------
      Custom, iPhone Retina  UP TO 480px
-------------------------------------------------------------------*/
@media (max-width : 480px) {
  /************** 480 GLOBAl USE***********/

  .lgx-banner-info {
    color: @white-color;
    .subtitle {
      .font-size(30);
      line-height: 4rem;
    }
    .title {
      .font-size(42);
      line-height: 5rem;
      margin-bottom: 2rem;
    }
    .text {
      margin-bottom: 2rem;
    }
  }
  .lgx-banner .lgx-inner {
    padding: 8rem 0;
  }

  .slider-text-single {
    figure {
      img {
        height: 280px;
      }
      figcaption {

      }
    }
  }

  /************** 480 GLOBAl USE***********/
}














