.lgx-contactform-area {
  padding: 6.8rem;
  -moz-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.2);
  -webkit-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.2);
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.2);
  .lgx-about-content-area {
    padding-top: 0;
  }
}

input,
textarea,
.wpcf7-form-control,
.form-control {
  display: block;
  text-align: left;
  width: 100%;
  height: 60px;
  padding: 1.5rem 2rem;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: @white-color;
  background-image: none;
  border: 1px solid @border-color;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out .15s,
  -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,
  box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,
  box-shadow ease-in-out .15s;
}

textarea,
textarea.form-control {
  height: 170px;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover,
.form-control:focus,
.form-control:hover,
.wpcf7-form-control:focus,
.wpcf7-form-control:hover {
  -webkit-box-shadow: 0 0 15px 0 rgba(68,67,73,.1);
  -moz-box-shadow: 0 0 15px 0 rgba(68,67,73,.1);
  box-shadow: 0 0 15px 0 rgba(68,67,73,.1);
  border: 1px solid @brand-color;
}


.wpcf7-submit:focus,
.wpcf7-submit:hover {
  border: 0 solid @brand-color;
}



//CONTACT FORM 7  Start

//BTN
.wpcf7-form .lgx-btn {
  padding: 1.2rem 2.3rem 1.5rem 5rem;
  float: right;
  margin-top: 1rem;
  text-align: center;
  br {
    display: none;
  }
  .wpcf7-form-control {
    z-index: 3;
    height: 42px;
    .transition-duration(@duration: 0.3s);
  }
}

// Default
.wpcf7 {
  .transition-duration(@duration: 0.3s);
  input[type="submit"] {
    width: auto;
    .transition-duration(@duration: 0.3s);
  }
}
.wpcf7 label {
  font-family: @lgx-heading-font;
  text-transform: uppercase;
  color: @footer-text;
  font-weight: 400 !important;
  letter-spacing: 1px;
  .wpcf7-form-control-wrap {
    margin-top: 5px;
    display: block;
  }

}


.form-group {
  margin-bottom: 2rem;
}

.wpcf7 {
  label {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 700;
  }
  span.wpcf7-not-valid-tip {
    font-style: italic;
  }
  div.wpcf7-validation-errors {
    border: 2px solid red;
  }

  p {
    margin-bottom: 10px!important;
  }
}






textarea.wpcf7-textarea {
  height: 170px;
  margin-bottom: 1.6rem;
  //width: 100%;
}


.lgx-contact-form {
  .lgx-contact-inner {
    .lgx-contact-form-inline {
      display: flex;
      margin-left: -.5rem;
      margin-right: -.5rem;
      .wpcf7-form-control-wrap {
        flex: 1;
        margin-left: .5rem;
        margin-right: .5rem;
      }
    }
    .wpcf7-form-control-wrap {
      margin-bottom: 2rem;
    }

  }
}

.lgx-btn-sp {
  display: inline-block;
  float: right;
  margin-top: 0;
  .wpcf7-submit {
    padding: 1.2rem 3rem;
    border: none;
  }
}



//comments box
article footer #comments #respond form input,
article footer #comments #respond form textarea {
  width: 100% !important;
}


article footer #comments #respond {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(41,61,88,0.10);
  -moz-box-shadow: 0px 0px 15px 0px rgba(41,61,88,0.10);
  box-shadow: 0px 0px 15px 0px rgba(41,61,88,0.10);
  padding: 4.2rem;
  border: 1px solid @border-color;
  //margin: 10px;
  background: @body-bg;
  //background: @brand-color;
  //background: rgba(242,247,250,0.7);
  display: block;
  overflow: hidden;
  .comment-reply-title {
    margin-top: 0;
  }
}
article footer #comments #respond form {
  //margin-left: -.5rem;
  //margin-right: -.5rem;
  .comment-form-author,
  .comment-form-email,
  .comment-form-url {
    width: 32.33%;
    float: left;
  }
  p {
    margin-left: .5%;
    margin-right: .5%;
  }
  .wpcf7-submit {
    display: inline-block;
    //float: right;
  }
}


//Responsive
/* -----------------------------------------------------------------------
     Medium devices (desktops, UP TO 1199px~992px)
 ------------------------------------------------------------------------*/
@media (max-width : @screen-md-max) {
  article footer #comments #respond form .comment-form-author,
  article footer #comments #respond form .comment-form-email,
  article footer #comments #respond form .comment-form-url {
    /*width: 32.2%;
    float: left;*/
  }
}

/* ---------------------------------------------------------------------
    Extra small devices (phones, less UP TO 991px)
 ----------------------------------------------------------------------*/
@media (max-width : @screen-sm-max) {
  article footer #comments #respond form .comment-form-author,
  article footer #comments #respond form .comment-form-email,
  article footer #comments #respond form .comment-form-url {
    /*width: 31.9%;
    float: left;*/
  }
}

/* ---------------------------------------------------------------------
    Extra small devices (phones, less UP TO 767px)
 ----------------------------------------------------------------------*/
@media (max-width : @screen-xs-max) {
  .lgx-contact-form {
    .lgx-contact-inner {
      .lgx-contact-form-inline {
        display: block;
        br {
          display: none;
        }
      }
    }
  }
  .lgx-box {
    width: 100%;
    margin-bottom: 2rem;
  }

  article footer #comments #respond form {
    margin-left: 0;
    margin-right: 0;
    .comment-form-author,
    .comment-form-email,
    .comment-form-url {
      width: 100%;
    }
    p {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
article footer #comments .comment-form-submit {
  float: right;
}

//CONTACT FORM 7  Start

