.lgx-header {
  background: @body-bg-deep;
  .lgx-inner {
    margin:  0 auto;
  }
  .lgx-toggle {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 99;
    color: @white-color;
    i {
      font-size: 26px;
    }
  }



  @media (min-width : 767px) {
    //DROPDOWN MENU HOVER EFFECT
    .navbar-nav li:hover > ul{
      display:block;
      -moz-animation: fadeIn .3s ease-in ;
      -webkit-animation: fadeIn .3s ease-in ;
      animation:fadeIn  .3s ease-in ;
    }

    .navbar-nav ul li:hover > ul{
      display:block;
      -moz-animation: fadeIn .3s ease-in ;
      -webkit-animation: fadeIn .3s ease-in ;
      animation: fadeIn .3s ease-in;
    }

    .dropdown-menu {
      min-width: 200px !important;
    }
    //DROPDOWN MENU HOVER EFFECT
  }




  // MULTI LEVEL DROPDOWN
  .dropdown-submenu {
    position: relative;
  }
  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
  }
  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }
  .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px;
  }
  .dropdown-submenu:hover>a:after {
  }
  .dropdown-submenu.pull-left {
    float: none;
  }
  .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
  }
  // MULTI LEVEL DROPDOWN
  .lgx-navbar {
    margin-bottom: 0;
    border: none;
    background: transparent;
    border-radius: 0;
    .container {
      padding-right: 0;
      padding-left: 0;
    }
    .lgx-nav {
      position: relative;
      -webkit-animation-name: fadeInRight;
      animation-name: fadeInRight;
      -webkit-transform-origin: center;
      transform-origin: center;
      animation-duration: 400ms;
      animation-timing-function: linear;
      float: right;
      margin: 2.2rem 0;
      li {
        a {
          font-family: @lgx-heading-font;
          .font-size(16);
          font-weight: 400;
          text-transform: uppercase;
          opacity: .8;
          letter-spacing: .06rem;
          //padding: 32px 11px;
          padding: 10px 11px;
          color: @black-color;
          &:hover {
            background: transparent;
            color: @brand-color3;
            opacity: 1;
          }
        }
      }
      li.lgx-btn {
        a {
          color: @white-color;
          z-index: 999;
        }
      }
      .active {
        a {
          background: transparent;
          color: @brand-color3;
        }
      }

      //Dropdown
      .dropdown-menu {
        .bg-rgba(@brand-color, .98);
        border: 0;
        border-radius: 0;
        padding: 1rem .5rem;
        li {
          a {
            font-family: @lgx-base-font;
            color: @white-color;
            padding: .6rem 1.5rem !important;
            .font-size(14);
            font-weight: 400;
            opacity: .6;
            letter-spacing: normal;
            .transition-duration(@duration: 0.3s);
            b {
              color: @white-color;
            }
            &:hover {
              opacity: 1;
              .bg-rgba(@white-color, .2);
              margin-left: 5px;
            }
            &:focus {
              opacity: 1;
              .bg-rgba(@white-color, .7);
              color: @brand-color;
            }
          }
        }
      }//Dropdown End

    }

    //LOGO
    .lgx-logo {
      -webkit-animation-name: fadeInRight;
      animation-name: fadeInRight;
      -webkit-transform-origin: center;
      transform-origin: center;
      animation-duration: 400ms;
      animation-timing-function: linear;
      margin-top: .5rem;
      display: inline-block;
      max-width: 190px;
      a {
        img {
          float: left;
          -webkit-transition: all .4s ease-in-out 0s;
          -moz-transition: all .4s ease-in-out 0s;
          -o-transition: all .4s ease-in-out 0s;
          transition: all .4s ease-in-out 0s;
        }
      }
    }


    .lgx-collapse {
      /*display: flex !important;
      justify-content: flex-end;*/
    }
  }

  // NAV RIGHT
  .lgx-nav-right {
    overflow: hidden;
    margin-top: 15px;
    margin-left: 2rem;
    display: flex;
    .lgx-search,
    .lgx-cart-area {
    }
    .lgx-cart {
      position: relative;
      .notification {
        font-family: @lgx-heading-font;
        position: absolute;
        top: -10px;
        left: 24px;
        background: @border-color;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        text-align: center;
        font-weight: 700;
        line-height: 23px;
      }
    }
    .lgx-search {
      .font-noline(2.6);
      margin-right: 1rem;
      color: @black-color;
      display: inline-block;
      a {
        color: inherit;
        &:hover {
          color: @brand-color;
        }
      }
    }
  }//. NAV RIGHT END
  .lgx-container {
    max-width: 1140px;
    margin: 0 auto;
  }
  .lgx-container-fluid {
    max-width: 100%;
    margin: 0 3rem;
  }
  //lgx-container-custom
  .lgx-container-box {
    max-width: 1620px;
    margin: 0 auto;
  }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
  color: @brand-color3 !important;
}



.header-top {
  background: @black-color;
  .header-top-inner {
    ul {
      li {
        margin-top: 8px;
      }
    }
    .contact {
      ul {
        li {
          color: @white-color;
          font-size: 15px;
          margin-right: 1rem;
          i {
            .font-noline(2);
            color: @brand-color;
            opacity: .7;
            margin-right: .4rem;
            position: relative;
            top: 2px;
          }
        }
        .question-text {
          color: @brand-color;
          font-weight: 700;
          margin-right: .5rem;
          display: inline-block;
        }
      }
    }
    .right-menu {
      text-align: right;
      font-size: 14px;
      .login-register {
        margin-right: 1rem;
        a {
          font-family: @lgx-heading-font;
          .bg-rgba(@white-color, 0.1);
          color: @brand-color;
          padding: 15px 2rem;
          &:hover {
            background: @brand-color;
            color: @white-color;
          }
        }
      }
      ul {
        li {
          color: @white-color;
          a {
            color: inherit;
            i {
              .font-noline(1.7);
              color: @footer-text;
            }
          }
          &:hover {
            a {
              color: @brand-color;
              i {
                opacity: 1;
                color: inherit;
              }
            }
          }
        }
      }
    }
  }
}



// Menu Position
.lgx-header {
  border-top: 1px solid transparent;
  //margin-top: -1px;
}
.logged-in {
  .lgx-header {
    //border-top: 1px solid transparent;
    margin-top: -1px;
  }
}


// Menu Position End

.lgx-header-position {
  width: 100%;
}
.lgx-header-position-fixed {
  position: fixed;
  z-index: 5;
  margin-top: 2rem;
  .lgx-header-cart {
    margin-top: 46px;
  }
}

.lgx-header-position-white {
  .lgx-navbar .lgx-nav li a {
    color: @white-color;
  }
  .lgx-nav-right .lgx-search a {
    color: @white-color;
  }
}

.lgx-header-fixed-container {
  background: transparent;
  margin-top: 0;
  .navbar-collapse {
    margin-top: 0;
  }
  .lgx-navbar {
    .bg-rgba(@white-color, 1);
    padding: 16px 2rem;
    .lgx-logo-default {
      margin-top: 6px;
    }
  }
}




//lgx-header-menu-background
.lgx-header.lgx-navbar-style-menu-background .lgx-header-position {
  margin-top: 0;
  .lgx-navbar {
    //padding-top: 1rem;
    .lgx-nav {
      background: @white-color;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

//lgx-header-menu-container
.lgx-header.lgx-navbar-style-menu-container .lgx-header-position .lgx-navbar {
  background: @brand-color;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

//lgx-header-container
.lgx-header.lgx-navbar-style-container .lgx-header-position {
  margin-top: 0;
  .lgx-navbar {
    background: @white-color;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 1rem;
    padding-bottom: 1rem;

  }
}

//lgx-navbar-style-shadow
.lgx-header.lgx-navbar-style-shadow .lgx-header-position {
  -moz-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.15);
  margin-top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

//lgx-navbar-style-black-tp
.lgx-header.lgx-navbar-style-black-tp .lgx-header-position {
  .bg-rgba(@black-color, .4);
  margin-top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

//lgx-navbar-style-white-tp
.lgx-header.lgx-navbar-style-white-tp .lgx-header-position {
  .bg-rgba(@white-color, .1);
  margin-top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

//lgx-navbar-style-white-tp
.lgx-header.lgx-navbar-style-brand-tp .lgx-header-position {
  .bg-rgba(@brand-color, .9);
  margin-top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}










.lgx-header .menu-onscroll {
  .bg-rgba(@black-color, 1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-transform-origin: center;
  transform-origin: center;
  animation-duration: 600ms;
  animation-timing-function: linear;
  -moz-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  .lgx-nav-right {

    .lgx-search {
      color: @white-color;
      a {
        color: inherit;
        &:hover {
          color: @brand-color;
        }
      }
    }
  }
  .lgx-toggle {
    color: @brand-color;
    top: 15px;
  }
  .lgx-navbar {
    .lgx-logo-fixed {
      width: 130px;
      a img {
        padding: 1.6rem 2.6rem 2.6rem;
        max-width: 130px;
      }
    }
    .lgx-logo-fixed-tpmenu {
      margin-top: 0;
    }

    .lgx-logo-default {
      margin-top: .6rem;
    }
    .lgx-nav {
      li {
        a {
          color: @white-color;
          &:hover {
            background: transparent;
            opacity: 1;
          }
        }
      }
      .active {
        a {
          background: transparent;
          color: @brand-color3;
          opacity: 1;
        }
      }
    }
    .lgx-logo {
      display: block;
      max-width: 170px;
      a {
        img {
          margin-top: .4rem;
          -webkit-transition: all .2s ease-in-out 0s;
          -moz-transition: all .2s ease-in-out 0s;
          -o-transition: all .2s ease-in-out 0s;
          transition: all .2s ease-in-out 0s;
          //width: 90%;
        }
      }
    }
  }
}

.lgx-header-position-fixed.menu-onscroll {
  margin-top: 0;
  .navbar-collapse {
    margin-top: 0;
  }
}

//lgx-navbar-style-shadow onscroll
.lgx-header.lgx-navbar-style-shadow .lgx-header-position.menu-onscroll {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

//lgx-navbar-style-container onscroll
.lgx-header.lgx-navbar-style-container .lgx-header-position.menu-onscroll .lgx-navbar {
  background: transparent;
  padding: 0;
}

//lgx-navbar-style-menu-container onscroll
.lgx-header.lgx-navbar-style-menu-container .lgx-header-position.menu-onscroll .lgx-navbar {
  background: transparent;
  padding: 0;
}

//lgx-navbar-style-white-tp onscroll
.lgx-header.lgx-navbar-style-white-tp .lgx-header-position.menu-onscroll {
  background: @black-color;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

//lgx-navbar-style-black-tp onscroll
.lgx-header.lgx-navbar-style-black-tp .lgx-header-position.menu-onscroll {
  background: @black-color;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.lgx-header.lgx-navbar-style-brand-tp .lgx-header-position.menu-onscroll {
  background: @brand-color;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.lgx-header.lgx-navbar-style-menu-background .lgx-header-position.menu-onscroll .lgx-navbar .lgx-nav {
  background: transparent;
  padding-right: 0;
  padding-left: 0;
}

.lgx-header .lgx-container-box {
  .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
  .lgx-navbar .lgx-logo {
    margin-top: 0;
  }
}

.lgx-header .menu-onscroll .lgx-container-box {
  .lgx-navbar .lgx-logo {
    margin-top: 0.5rem;
  }
}


//lgx-header-menu-background
.lgx-header .lgx-header-menu-background.menu-onscroll .lgx-navbar .lgx-nav {
  background: transparent;
  padding-right: 0;
  padding-left: 0;
}




.lgx-header .lgx-container-box {
  /* max-width: 1620px; */
  margin: 0 auto;
  //padding: 0 7rem;
}



.logged-in .lgx-header .menu-onscroll {
  top: 30px;
}

/*Animation*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}





// Header WordPress

.vcx-action-list {
  li {
    padding: 0;
  }
}



.lgx-nav li.lgx-btn a,
.lgx-header .menu-onscroll .lgx-navbar .lgx-nav li.lgx-btn a {
  padding: 0;
}


@media only screen and (max-width: 1700px) {
  .lgx-header .lgx-container-box {
    padding: 0 4rem;
  }
}


//HEADER RESPONSIVE

@media (max-width : @screen-md-max) {
  /************** 1199 GLOBAl USE***********/
  //lgx-header-menu-container
  .lgx-header.lgx-navbar-style-menu-container .lgx-header-position .lgx-navbar {
    margin-left: 15px;
    margin-right: 15px;
  }

}
/* ----------------------------------------------------------------------
     Small devices (tablets, UP TO 991px~768px)
 -----------------------------------------------------------------------*/
@media (max-width : @screen-sm-max) {
  /************** 991 GLOBAl USE***********/
  .lgx-header .lgx-navbar .lgx-nav li a {
    font-size: 13px;
    padding: 30px 7px;
  }

  .lgx-header .lgx-navbar .lgx-logo-fixed a img {
    padding: 2.6rem 1.5rem 3rem;
    max-width: 100px;
    left: 3rem;
  }
  .lgx-header .lgx-navbar .lgx-logo-fixed {
    width: 100px;
  }


  /*.lgx-navbar .lgx-nav li a.lgx-btn {
    padding: .8rem 1rem !important;
  }*/
  .lgx-header .lgx-nav-right,
  .lgx-header .menu-onscroll .lgx-nav-right {
    border-left: 0;
    padding-left: 0;
  }


  .lgx-header .menu-onscroll {
    .lgx-navbar .lgx-nav li a {
      font-size: 13px;
      padding: 30px 7px;
    }
    .lgx-navbar .lgx-logo-fixed a img {
      padding: 2.6rem 1.5rem 3rem;
      max-width: 100px;
    }
  }

  .lgx-header-fixed-container-gap .lgx-navbar,
  .lgx-header-fixed-container .lgx-navbar {
    padding: 10px 0;
  }
  .lgx-header .lgx-navbar .lgx-logo a img {
    max-width: 150px;
  }

  .lgx-header .lgx-navbar .lgx-nav li a,
  .lgx-header .menu-onscroll .lgx-navbar .lgx-nav li a {
    font-size: 12px;
    padding: 30px 5px;
  }

  .lgx-header .lgx-nav-right, .lgx-header .menu-onscroll .lgx-nav-right {
    padding-left: 1rem;
  }

  .lgx-header-position-fixed .navbar-collapse,
  .lgx-header-position-fixed .navbar-default .navbar-form {
  }

  .lgx-header-position-fixed {
    .navbar-collapse {
      margin-top: 8px;
    }
  }

  .lgx-header-fixed-container-gap,
  .lgx-header-fixed-container {
    .navbar-collapse {
      margin-top: 0;
    }
  }

  .lgx-header .lgx-navbar .lgx-logo {
    margin-left: 10px;
  }

  .lgx-slider-navbottom .owl-controls .owl-nav .owl-prev,
  .lgx-slider-navbottom .owl-controls .owl-nav .owl-next {
    height: 60px !important;
    width: 60px !important;
    bottom: -50px !important;
  }

  .lgx-slider-navbottom .owl-controls .owl-nav .owl-next {
    margin-left: 50px !important;
  }
  .lgx-slider-navbottom .owl-nav [class*="owl-"] {
    line-height: 60px !important;
  }

  .lgx-header .lgx-navbar .lgx-nav {
    margin-top: -2rem;
  }
  .lgx-header .menu-onscroll .lgx-navbar .lgx-nav {
    margin: 0;
  }

  .lgx-header .lgx-navbar .lgx-nav .lgx-btn {
    margin-top: 17px;
  }



  /************** 991 GLOBAl USE END ***********/

}





/* ---------------------------------------------------------------------
    Extra small devices (phones, less UP TO 767px)
 ----------------------------------------------------------------------*/
@media (max-width : @screen-xs-max) {
  /************** 767 GLOBAl USE***********/

  .lgx-header .lgx-navbar .lgx-nav li a,
  .lgx-header .menu-onscroll .lgx-navbar .lgx-nav li a {
    padding: 8px 7px;
  }
  .lgx-header-position {
    background: @black-color;
  }
  .lgx-header-position-fixed {
    position: static;
    margin-top: 0;
  }

  .lgx-header .lgx-navbar .lgx-logo-default,
  .lgx-header .lgx-navbar .lgx-logo {
    margin-top: 1rem !important;
  }

  .lgx-header .menu-onscroll .lgx-navbar .lgx-logo-default,
  .lgx-header .menu-onscroll .lgx-navbar .lgx-logo {
    margin-top: .5rem !important;
  }

  .lgx-header .lgx-navbar .lgx-nav li a,
  .lgx-header .lgx-nav-right .lgx-search {
    color: @white-color;
  }

  .lgx-navbar .lgx-nav li.lgx-btn {
    display: inline-block;
    a {
      padding: 0;
    }
  }

  .lgx-header .lgx-navbar .lgx-logo a img,
  .lgx-header .menu-onscroll .lgx-navbar .lgx-logo a img {
    max-width: 100px;
  }

  .navbar-default .navbar-toggle {
    border-color: transparent;
    margin-top: 11px;
    span {
      background-color: @brand-color !important;
      width: 26px;
      height: 3px;
    }
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: @brand-color;
    span {
      background-color: @white-color !important;
    }
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin: 0 15px;
  }

  .lgx-header .lgx-container-fluid {
    margin: 0 15px;
  }

  .section-gap {
    padding: 0 0 !important;
  }

  .lgx-header .lgx-navbar .lgx-logo-fixed a img,
  .lgx-header .menu-onscroll .lgx-navbar .lgx-logo-fixed a img {
    padding: 1.5rem;
    max-width: 80px;
    left: 1rem;
  }

  .lgx-header-position-fixed .navbar-collapse,
  .lgx-header-position-fixed .navbar-default .navbar-form {
    margin-top: 5px;
  }

  .lgx-header .lgx-navbar .lgx-nav {
    margin-top: 2rem;
  }


  .lgx-header-fixed-container {
    .lgx-navbar {
      background: transparent;
      padding: 10px 0;
      .lgx-logo-default {
        margin-top: 0;
      }

    }
  }

  .lgx-header-fixed-container-gap {
    .navbar-collapse {
      margin-top: 0;
    }
    .lgx-navbar {
      background: transparent;
      padding: 10px 0;
      margin-top: 0;
      .lgx-logo-default {
        margin-top: 0;
      }
    }
  }

  .header-top {
    .contact {
      text-align: center;
      ul li {
        margin-top: 4px;
      }
    }
    .header-top-inner .right-menu {
      text-align: center;
    }
  }

  .lgx-header .lgx-nav-right, .lgx-header .menu-onscroll .lgx-nav-right {
    border-left: 0;
    padding-left: 0;
  }

  .lgx-header .lgx-nav-right {
    margin: 19px 0 30px 0;
    padding-left: 0;
  }


  .lgx-slider-navbottom .owl-controls .owl-nav .owl-prev,
  .lgx-slider-navbottom .owl-controls .owl-nav .owl-next {
    bottom: -55px !important;
  }

  .lgx-header .lgx-navbar .lgx-nav {
    float: none;
  }
  .lgx-header .lgx-navbar .lgx-nav .lgx-btn {
    display: inline-block;
  }
  .lgx-header .lgx-container-box .lgx-navbar .lgx-logo,
  .lgx-header-position-fixed.menu-onscroll,
  .lgx-header-position-fixed.menu-onscroll .navbar-collapse {
    margin-top: 1rem;
  }

  .lgx-header.lgx-navbar-style-menu-container .lgx-header-position .lgx-navbar {
    background: transparent;
  }


  .lgx-header .lgx-navbar .lgx-nav .dropdown-menu {
    background: transparent;
    padding: 0 0;
  }
  .navbar-nav.sm-collapsible .caret, .navbar-nav.sm-collapsible ul .caret {
    right: 10px;
    top: 13px;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    line-height: 0;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    font-size: 26px;
    background: transparent;
  }


  .lgx-header .lgx-navbar .lgx-nav .dropdown-menu li a:hover {
    opacity: 1;
    background: transparent;
    margin-left: 0;
    color: @brand-color3;
  }
  .lgx-header .lgx-navbar .lgx-nav .dropdown-menu li a:focus {
    opacity: 1;
    background: transparent;
    color: @brand-color3;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {
    background-color: transparent;
    color: @brand-color2;
    opacity: 1;
  }

  .lgx-header .lgx-container-fluid, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin: 0;
    padding: 0;
  }
  .lgx-header .lgx-navbar .lgx-nav {
    padding-left: 0 !important;
  }
  .lgx-header .lgx-navbar .lgx-nav .dropdown-menu li a {
    padding: .6rem 1rem!important;
    background: transparent;
  }
  .lgx-header .lgx-container-box {
     padding: 0;
  }
  .lgx-header .dropdown-submenu:hover > .dropdown-menu {
    display: none;
  }

  #navbar.lgx-collapse.in {
    .lgx-nav {
      overflow-y: scroll;
      max-height: 450px;
      overflow-x: hidden;
      /*height: 100%;
      width: 100%;*/
    }
  }

  .lgx-header .lgx-navbar .lgx-nav {
    .menu-item {
      a {
        padding-left: 1.5rem;
      }
    }
    .dropdown {
      .transition-duration(@duration: 1s);
      .has-submenu {
        //padding-left: 1.5rem;
      }
    }
    .dropdown.open {
      /*overflow-y: scroll;
      max-height: 350px;*/
      .has-submenu {
        //margin-bottom: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        .caret {
          top: 10px;
        }
      }
      .dropdown-menu {
        .bg-rgba(@black-deep, 1);
        padding-top: .5rem;
        //padding-bottom: .5rem;

      }
      .dropdown-submenu.open {
        .has-submenu {
          margin-bottom: 1rem;
        }
        .dropdown-menu {
          .bg-rgba(@white-color, 0.1);
          padding-top: .5rem;
          padding-bottom: .5rem;
          /*overflow-y: scroll;
          max-height: 150px;*/
        }
      }
    }
  }

  .lgx-header .lgx-navbar .lgx-nav li a,
  .lgx-header .menu-onscroll .lgx-navbar .lgx-nav li a {
    font-size: 14px;
    //padding: 30px 5px;
  }
  .lgx-header .lgx-navbar .lgx-nav .dropdown-menu li a {
    padding: .6rem 1.5rem !important;
    font-size: 13px;
  }

  .navbar-collapse {
    border-top: 0 solid transparent;
  }

  .logged-in .lgx-header .menu-onscroll {
    top: 45px;
  }


  /************** 767 GLOBAl USE END***********/


}/*767 END*/

@media (max-width : 600px) {
  .logged-in .lgx-header .menu-onscroll {
    top: 0;
  }
}
/* ----------------------------------------------------------------
      Custom, iPhone Retina  UP TO 480px
-------------------------------------------------------------------*/
@media (max-width : 480px) {
  /************** 480 GLOBAl USE***********/



  /************** 480 GLOBAl USE***********/

}