
.lgx-counter-area {
  margin-bottom: 3rem !important;
  color: @white-color;
  position: relative;
  border-radius: 6px;
  text-align: center;
  min-height: 75px;
  -webkit-transition: all .3s ease-in-out 0s;
  -moz-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
  img {
    opacity: .4;
  }
  i {
    .font-size(102);
    margin: 0;
    color: @brand-color;
    opacity: .4;

  }
  .counter-text {
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: -60px;
    width: 100%;
    left: 0;
    .lgx-counter {
      font-family: @lgx-heading-font;
      display: block;
      .font-noline(6.8);
      font-weight: 900;
      margin-bottom: 1rem;
      color: @white-color;
    }
    small {
      font-family: @lgx-base-font;
      color: @white-color;
      .font-size(20);
      font-weight: 400;
      display: block;
      margin: 2.6rem 0 0;
    }
  }
  &:hover {

  }
}







.lgx-milestone-box .lgx-counter-area {
  //margin-bottom: 2rem !important;
  color: @white-color;
  //position: static;
  border-radius: 6px;
  text-align: center;
  min-height: 100%;
  background: @white-color;
  padding: 3rem 2rem;
  -moz-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.05);
  -webkit-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.05);
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.05);
  -webkit-transition: all .3s ease-in-out 0s;
  -moz-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
  img {
    opacity: .4;
    margin-bottom: 1.6rem;
  }
  i {
    .font-size(102);
    margin: 0;
    color: @brand-color;
    opacity: .4;

  }
  .counter-text {
    text-align: center;
    position: static !important;
    z-index: 1;
    bottom: -60px;
    width: 100%;
    left: 0;
    .lgx-counter {
      font-family: @lgx-base-font;
      display: block;
      .font-noline(4.2);
      font-weight: 900;
      margin-bottom: 1rem;
      color: @white-color;
    }
    small {
      font-family: @lgx-heading-font;
      color: @white-color;
      text-transform: uppercase;
      .font-size(16) !important;
      font-weight: 400;
      display: block;
      margin: 2.6rem 0 0;
      opacity: .5;
    }
  }
  &:hover {
    -moz-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
    -webkit-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
  }
}

.lgxmc-col-xs-6 {
  &:nth-child(1),
  &:nth-child(3) {
    .lgx-counter-area {
      bottom: -1.6rem;
      &:hover {
        bottom: -1rem;
      }
    }
  }
  &:nth-child(2),
  &:nth-child(4) {
    .lgx-counter-area {
      top: -1.6rem;
      &:hover {
        top: -2.2rem;
      }
    }
  }
}



