
.lgx-single-news {
  .bg-rgba(@white-color, 1);
  padding: 2.6rem;
  margin-bottom: 1.8rem;
  overflow: hidden;
  position: relative;
  top: 0;
  -moz-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0);
  -webkit-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0);
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0);
  .transition-duration(@duration: 0.3s);
  .lgx-btn {
    margin-top: 1rem;
  }
  figure {
    position: relative;
    overflow: hidden;
    z-index: 1;
    a img {
      .transition-duration(@duration: 0.5s);
      margin: 0;
    }
  }
  .single-news-info {
    position: relative;
    z-index: 2;
    margin-top: 1.6rem;
    //padding: 0 1rem;
    .vcx-news-date {
      color: @brand-color2;
      background: @body-bg;
      font-family: @lgx-heading-font;
      padding: .3rem 1rem;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      -moz-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
      -webkit-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
      box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
      .transition-duration(@duration: 0.3s);
      margin-right: .5rem;
    }
    .vcx-excerpt {
      margin-top: 1.2rem;
      margin-bottom: 1rem;
    }
  }
  .meta-wrapper span {
    font-size: 15px;
    a {
      color: inherit;
      &:hover {
        color: @brand-color2;
      }
    }
    &:last-child:after {
      display: none;
    }
  }
  .title {
    .font-size(20);
    font-weight: 700;
    line-height: 2.6rem;
    margin-top: 1rem;
    padding-bottom: 1.6rem;
    color: @black-color;
    border-bottom: 1px solid @body-bg-deep;
    display: block;
    a {
      color: inherit;
      &:hover {
        color: @brand-color;
      }
    }
  }
  &:hover {
    top: -10px;
    -moz-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
    -webkit-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
    &:after {
      left: 42%;
      opacity: 1;
    }
    figure {
      a img {
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
    .single-news-info {
      .vcx-news-date {
        background: @white-color;
        //color: @white-color;
      }
    }
  }
}

.vcx-news-style-list {
  .lgx-single-news {
    margin-bottom: 1.7rem;
  }
}

.vcx-news-style-grid {
  .vcx-news-col {
    width: 31.33%;
    float: left;
    margin: 0 1%;
  }
}

.vcx-news-style-list {
  .vcx-news-col {
    width: 48%;
    float: left;
    margin: 0 1%;
    .lgx-single-news {
      padding: 3.2rem 4rem;
      figure {
        display: none ;
      }
    }
  }
  .vcx-news-col {
    &:nth-child(1) {
      .lgx-single-news {
        padding: 3.5rem;
        .title {
          .font-size(26)
        }
        figure {
          display: block ;
        }
      }
    }
  }
}

.lgx-home-wrapper {
  .vcx-news-style-list {
    .lgx-single-news {
      //margin-bottom: 2rem;
    }
  }
}

