

.lgx-box-layout {
  padding: 0 4.2rem;
}

.lgx-speacialgap-area {
  background: @white-color;
  height: 25rem;
}

.lgx-box-layout .lgx-header .menu-onscroll {
  left: 0;
}


.lgx-page-inner {
  padding: 17rem 0 9rem;
}
.lgx-banner-post {
  .lgx-page-inner {
    padding: 6.8rem 0;
  }
}


.lgx-banner-inner {
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  .lgx-heading-area {
    margin-bottom: 0;
  }
   .lgx-heading {
    margin-bottom: 0;
    text-align: left;
     .heading {
       margin-bottom: 1rem;
       line-height: 5rem;
     }
  }

  .breadcrumb {
    background: transparent;
    display: inline-block;
    padding: 0;
    position: relative;
    z-index: 1;
    margin-top: .5rem;
    margin-bottom: 0;
    border-radius: 0;
    font-family: @lgx-heading-font;
    li {
      .font-size(16);
      font-weight: 400;
      color: @white-color;
      //text-transform: uppercase;
      letter-spacing: 1px;
      a {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        i {
          margin-right: .5rem;
          color: @brand-color2;
        }
      }
    }
    .active {
      color: @brand-color3;
    }
  }
  .breadcrumb>li+li:before {
    padding: 0 5px;
    color: @brand-color3;
    content: "/\00a0";
    opacity: .3;
  }

}




.lgx-page-wrapper {
  /**, *:before, *:after {
    box-sizing:  border-box !important;
  }
  .lgx-col-width {
    !*-moz-column-width: 22em;
    -webkit-column-width: 22em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em;*!
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 31.33%);
    .lgx-single-news {
      margin-bottom: -.8rem ;
    }
  }*/
  /*.lgx-col2 {
    -moz-column-width: 35em;
    -webkit-column-width: 35em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em;
  }*/


  .lgx-card-single {
    display: inline-block;
    width:  100%;
  }
  .lgx-single-news {
    display: inline-block;
    width:  100%;
    figure figcaption .date {
    }
  }
}

.lgx-post-wrapper,
.lgx-page-wrapper {
  padding: 11rem 0;
  .lgx-masonry-area {
    margin-left: -1%;
    margin-right: -1%;
    .lgx-post-loop {
      width: 31.333%;
      margin-left: 1%;
      margin-right: 1%;
      .lgx-single-news {
        //margin-bottom: 1%;
      }
    }
  }

  .lgx-menu {
    background: transparent;
  }


  .lgx-tab-another .lgx-menu-container {
    background: transparent;
  }

  .lgx-reservation,
  .lgx-speacial {
    background: @body-bg;
  }

  .lgx-single-speacial {
    margin-bottom: 2.6rem;
    .speacial-info {
      padding: 1.5rem 1.5rem 3rem 1.5rem;
      .title {
        color: @black-color;
        a {
          color: inherit;
        }
      }
    }
    &:hover {
      .speacial-info {
        background: @black-color;
        .title {
          color: @white-color;
          a {
            color: inherit;
          }
          &:hover {
            color: @brand-color;
            a {
              color: inherit;
            }
          }
        }
      }
    }
  }

  .lgx-news-single-thumb .news-info .text {
    display: block;
  }

  .lgxmapcanvas {
    margin-bottom: 3.9rem;
  }


  .lgx-photo-gallery {
    .lgx-inner {
      padding: 10.2rem 0;
    }
  }

}

.lgx-post-wrapper {
  .speaker-info {
    margin-bottom: 2rem;
    .title {
      color: @black-color;
      a {
        font-size: inherit;
        color: inherit;
      }
    }
    .subtitle {
      font-family: @lgx-base-font;
      .font-size(16);
      font-weight: 400;
      text-transform: uppercase;
      margin: 0;
      color: @brand-color3;
    }
  }
  article {
    header {
      margin-bottom: 4.2rem;
      text-align: center;
      .text-area {
        text-align: left;
        /*max-width: 750px;
        margin: 0 auto;*/
        /*border-bottom: 1px solid @border-color;
        padding-bottom: 2rem;*/
      }
      .title {
        .font-size(42);
        font-weight: 700;
        line-height: 5.5rem;
        margin-top: 0;
      }
      .subtitle {
        font-family: @lgx-base-font;
        .font-size(16);
        font-weight: 400;
        margin: 0;
        color: @brand-color3;
        text-transform: uppercase;
        margin-top: .5rem;
        margin-bottom: 1.5rem;
      }
      .menu-price {
        font-family: @lgx-heading-font;
        .font-noline(2.6);
        text-transform: uppercase;
        text-align: right;
        margin-top: .8rem;
        color: @brand-color;
        font-weight: 700;
        span {
          font-family: @lgx-base-font;
          color: @black-color;
          font-weight: 300;
          .font-noline(1.6);
          margin-right: .5rem;
          opacity: .7;
        }
        &:before {
          border-top: 1px dashed @border-color;
          display: block;
          position: relative;
          top: 19px;
          width: 85%;
          content: "";
          right: 0;
        }
      }
      .lgx-social {
        display: inline-block;
        li {
          a {
            height: 45px;
            width: 45px;
            margin-left: 0;
            margin-right: 0;
            i {
              .font-size(20);
              line-height: 45px;
            }
          }
        }
      }
      .hits-area {
        padding-top: 1rem;
        .date {
          font-family: @lgx-base-font;
          font-weight: 400;
          margin-right: 2rem;
          display: inline-block;
          color: @footer-text;
          //text-transform: uppercase;
          .font-size(16);
          a {
            color: inherit;
            margin-right: 1.5rem;
            i {
              color: @brand-color;
              margin-right: 4px;
              opacity: .5;
            }
          }
          i {
            color: @brand-color;
            margin-right: 4px;
            opacity: .5;
          }
        }
        .hit-right {
          color: @black-color;
          opacity: .7;
          a {
            color: inherit;
          }
        }
      }
    }
    section,
    footer,
    header .text-area {
      margin: 0 auto;
    }
    section {
      /*max-width: 750px;
      margin: 0 auto;*/
      margin-bottom: 4.2rem;
      .lgx-img-left {
        float: left;
        padding:1rem 2rem 1.5rem 0;
      }
      .lgx-img-right {
        float: right;
        padding: 1rem 0 1.5rem 2rem ;
      }
      .lgx-img-center {
        margin: 0 auto;
        display: block;
        padding: 1.5rem;
      }
    }
    footer {
      .lgx-share {
        /*max-width: 750px;
        margin: 0 auto;*/
      }
      .title {
        font-family: @lgx-heading-font;
        text-transform: uppercase;
        font-weight: 400;
        color: @brand-color;
        border-bottom: 1px solid rgba(52, 61, 71, .1);
        -webkit-background-clip: padding-box; /* for Safari */
        background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
        padding-bottom: .5rem;
      }
    }
  }
}


//
.lgx-single-post-speaker {
  .lgx-single-speaker-header {
    display: flex;
    .lgx-speaker-intro-text {
      border: 1px solid @border-color;
      padding: 2.6rem;
      .font-size(20);
      font-family: @lgx-heading-font;
      font-weight: 400;
      //color: @black-color;
      margin-top: 2.6rem;
    }
  }
  .lgx-post-img,
  .text-area {
    flex: 1;
  }
  .lgx-post-img {
    padding-right: 2.6rem;
    max-width: 400px;
  }
  .text-area {
    text-align: left;
  }
}


//Only html perpose
.lgx-page-wrapper-none {
  padding: 0;
}

header.page-header {
  margin-top: 0;
  h1.page-title {
    margin-top: 0;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 5.5rem;
  }
}

/*SINGLE NEWS*/
.single,
.lgx-post-wrapper {


}

.lgx-post-wrapper article header {
  .lgx-post-img {
    margin-bottom: 2.6rem;
  }
}



.lgx-page-left-sidebar,
.lgx-page-right-sidebar,
.category-latest-news,
.archive,
.search-results {
  .lgx-masonry-area {
    margin-left: -1%;
    margin-right: -1%;
    .lgx-post-loop {
      width: 48%;
      margin-left: 1%;
      margin-right: 1%;
      .lgx-single-news {
        margin-bottom: .8rem;
      }
    }
  }
}

.lgx-page-right-sidebar .lgx-card-wrapper {
  margin-right: -1.5rem;
}
.lgx-page-left-sidebar .lgx-card-wrapper {
  margin-left: -1.5rem;
}


//Images Alignment Page
.alignleft {
  margin-right: 1rem;
}
.aligncenter {
  text-align: center;
}
.alignright {
  float: right;
  margin-left: 1rem;
}


//RESPONSIVE
@media (max-width : @screen-sm-max) {
  /************** 991 GLOBAl USE***********/
  .lgx-page-wrapper .lgx-masonry-area .lgx-post-loop,
  .lgx-post-wrapper .lgx-masonry-area .lgx-post-loop {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    .lgx-single-news {
      margin-bottom: 1rem;
    }
  }
  .lgx-page-wrapper article .lgx-single-news .featured-post {
    top: 0 !important;
  }
}
@media (max-width : @screen-xs-max) {
  /************** 767 GLOBAl USE***********/
  .lgx-page-wrapper .lgx-masonry-area,
  .lgx-post-wrapper .lgx-masonry-area {
    margin-left: 0;
    margin-right: 0;
  }
  .lgx-page-wrapper .lgx-masonry-area .lgx-post-loop,
  .lgx-post-wrapper .lgx-masonry-area .lgx-post-loop {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    .lgx-single-news {
      margin-bottom: 1rem;
    }
  }
  .lgx-page-left-sidebar,
  .lgx-page-right-sidebar,
  .category-latest-news,
  .archive,
  .search-results {
    .lgx-page-wrapper {
      .lgx-masonry-area {
        margin-left: 0;
        margin-right: 0;
        .lgx-post-loop {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          .lgx-single-news {
            //margin-bottom: .8rem;
          }
        }
      }
    }
  }
}








