.sponsored-heading {
  .font-size(26);
  font-weight: 700;
  color: @brand-color;
  text-transform: uppercase;
  text-align: center;
  margin: 6.8rem 0 2rem 0;
  display: block;
}
.sponsored-heading.first-heading {
  margin-top: 0;
}
.sponsored-heading.secound-heading {
  color: @brand-color2;
}
.sponsored-heading.third-heading {
  color: @brand-color3;
}

.sponsors-area {
  text-align: center;
  margin-bottom: 4.2rem;
  .single {
    overflow: hidden;
    margin: 0 .5%;
    width: 23%;
    display: inline-block;
    margin-bottom: .6rem;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    -moz-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.05);
    -webkit-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.05);
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.05);
    a {
      display: block;
      text-align: center;
      img {
        padding: 8%;
        width: 100%;
        -webkit-transition: all .5s ease-in-out 0s;
        -moz-transition: all .5s ease-in-out 0s;
        -o-transition: all .5s ease-in-out 0s;
        transition: all .5s ease-in-out 0s;
      }
    }
    &:hover {
      opacity: 1;
      a {
        img {
          -moz-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
          -webkit-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
          box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
          //background: red;
        }
      }
    }
  }
}

//sponsors-area-col3
/*.sponsors-area-col3 {
  .single {
    width: 32%;
  }
}*/

.sponsors-area .lgx-item3 {
  width: 32%;
}
.sponsors-area .lgx-item5 {
  width: 19%;
  margin: 0 !important;
}
.sponsors-area .lgx-item6 {
  width: 15%;
  margin: 0 !important;
}

//
.sponsors-area-nogap {
  .single {
    margin: 0 0;
    margin-bottom: 4px;
    display: inline-table;
  }
}

//
.sponsors-area-border {
  .single {
    border: 5px solid @border-color;
    &:hover {
      border: 5px solid @brand-color;
    }
  }
}

//
.sponsors-area-noshadow {
  .single {
    box-shadow: none;
    &:hover {
      -moz-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.05);
      -webkit-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.05);
      box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.05);
    }
  }
}

//sponsors-area-border-thin
.sponsors-area-border-thin {
  .single.lgx-item3 {
    width: 33.33%;
    margin: 0 -2px;
    border-top: 1px solid @border-color;
    border-left: 1px solid @border-color;
    border-bottom: 0;
    border-radius: 0;
    img {
      padding: 10%;
    }
    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(7),
    &:nth-child(10),
    &:nth-child(13),
    &:nth-child(16),
    &:nth-child(19),
    &:nth-child(22),
    &:nth-child(25),
    &:nth-child(28),
    &:nth-child(31){
      border-left: 0;
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3){
      border-top: 0;
    }
    &:hover {
      /*-moz-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
      -webkit-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
      box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);*/
      box-shadow: none;
    }
  }
}
.sponsors-area-border-thin {
  .single.lgx-item4 {
    width: 25%;
    margin: 0 -2px;
    border-top: 1px solid @border-color;
    border-left: 1px solid @border-color;
    border-bottom: 0;
    border-radius: 0;
    img {
      padding: 10%;
    }
    &:nth-child(1),
    &:nth-child(5),
    &:nth-child(9),
    &:nth-child(13),
    &:nth-child(17),
    &:nth-child(21),
    &:nth-child(25),
    &:nth-child(29),
    &:nth-child(33),
    &:nth-child(37),
    &:nth-child(41){
      border-left: 0;
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4){
      border-top: 0;
    }
    &:hover {
      /*-moz-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
      -webkit-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
      box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);*/
      box-shadow: none;
    }
  }
}



//
//sponsors-area-border-thin
.sponsors-area-border-bottom {
  .single.lgx-item3 {
    width: 33.33%;
    margin: 0 -2px;
    border-top: 1px solid @border-color;
    border-bottom: 0;
    border-radius: 0;
    img {
      padding: 10%;
    }
    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(7),
    &:nth-child(10),
    &:nth-child(13),
    &:nth-child(16),
    &:nth-child(19),
    &:nth-child(22),
    &:nth-child(25),
    &:nth-child(28),
    &:nth-child(31){
      border-left: 0;
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3){
      border-top: 0;
    }
    &:hover {

    }
  }
}

.sponsors-area-border-bottom {
  .single.lgx-item4 {
    width: 25%;
    margin: 0 -2px;
    border-top: 1px solid @border-color;
    border-bottom: 0;
    border-radius: 0;
    img {
      padding: 10%;
    }
    &:nth-child(1),
    &:nth-child(5),
    &:nth-child(9),
    &:nth-child(13),
    &:nth-child(17),
    &:nth-child(21),
    &:nth-child(25),
    &:nth-child(29),
    &:nth-child(33),
    &:nth-child(37),
    &:nth-child(41){
      border-left: 0;
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4){
      border-top: 0;
    }
    &:hover {
      -moz-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
      -webkit-box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
      box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.1);
    }
  }
}


//sponsors-area-tile
.sponsors-area-tile {
  .single {
    border-radius: 0;
    padding: 4%;
    &:nth-child(odd){
      background: @body-bg-deep;
    }
    &:nth-child(even){
      background: @body-bg;
    }
    &:hover {
      a img {
        box-shadow: none;
      }
    }
  }
}

//sponsors-area-color-tile
.sponsors-area-color-tile {
  .single {
    border-radius: 0;
    //padding: 4%;
    &:nth-child(odd){
      background: @brand-color;
    }
    &:nth-child(even){
      background: @black-color;
    }
    &:hover {
      a img {
        box-shadow: none;
      }
    }
  }
}


//
.sponsors-area-colorfull {
  .single {
    background: @brand-color;
    //margin-bottom: 1rem !important;
    //padding: 1.5rem;
    img {
      -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
      filter: grayscale(40%);
    }
    &:nth-child(1) {
      background: #ff6600;
    }
    &:nth-child(2) {
      background: #ff9400;
    }
    &:nth-child(3) {
      background: #ffc600;
    }
    &:nth-child(4) {
      background: #8cc700;
    }
    &:nth-child(5) {
      background: #0fad00;
    }
    &:nth-child(6) {
      background: #00a3c1;
    }
    &:nth-child(7) {
      background: #0061b5;
    }
    &:nth-child(8) {
      background: #6300a4;
    }
    &:nth-child(9) {
      background: #ff0000;
    }
    &:nth-child(10) {
      background: #ff6600;
    }
    &:nth-child(11) {
      background: #ff9400;
    }
    &:nth-child(12) {
      background: #ffc600;
    }
    &:nth-child(13) {
      background: #8cc700;
    }
    &:nth-child(14) {
      background: #0fad00;
    }
    &:nth-child(15) {
      background: #00a3c1;
    }
    &:nth-child(16) {
      background: #0061b5;
    }
    &:nth-child(17) {
      background: #6300a4;
    }
    &:nth-child(18) {
      background: #ff0000;
    }

    &:nth-child(19) {
      background: #ff6600;
    }
    &:nth-child(20) {
      background: #ff9400;
    }
    &:nth-child(21) {
      background: #ffc600;
    }
    &:nth-child(22) {
      background: #8cc700;
    }
    &:nth-child(23) {
      background: #0fad00;
    }
    &:nth-child(24) {
      background: #00a3c1;
    }
    &:nth-child(25) {
      background: #0061b5;
    }
    &:nth-child(26) {
      background: #6300a4;
    }
    &:nth-child(27) {
      background: #ff0000;
    }
    &:nth-child(28) {
      background: #ff6600;
    }
    &:nth-child(29) {
      background: #ff9400;
    }
    &:nth-child(30) {
      background: #ffc600;
    }
    &:nth-child(31) {
      background: #8cc700;
    }
    &:nth-child(32) {
      background: #0fad00;
    }
    &:nth-child(33) {
      background: #00a3c1;
    }
    &:nth-child(34) {
      background: #0061b5;
    }
    &:nth-child(35) {
      background: #6300a4;
    }
    &:nth-child(36) {
      background: #ff0000;
    }
    &:hover {
      //background: white;
      img {
        -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
        filter: grayscale(0);
      }
    }
  }
}


.sponsors-area-colorfull-border {
  .single {
    background: @white-color;
    &:nth-child(1) {
      border: 8px solid #ff6600;
    }
    &:nth-child(2) {
      border: 8px solid #ff9400;
    }
    &:nth-child(3) {
      border: 8px solid #ffc600;
    }
    &:nth-child(4) {
      border: 8px solid #8cc700;
    }
    &:nth-child(5) {
      border: 8px solid #0fad00;
    }
    &:nth-child(6) {
      border: 8px solid #00a3c1;
    }
    &:nth-child(7) {
      border: 8px solid #0061b5;
    }
    &:nth-child(8) {
      border: 8px solid #6300a4;
    }
    &:nth-child(9) {
      border: 8px solid #ff0000;
    }
    &:nth-child(10) {
      border: 8px solid #ff6600;
    }
    &:nth-child(11) {
      border: 8px solid #ff9400;
    }
    &:nth-child(12) {
      border: 8px solid #ffc600;
    }
    &:nth-child(13) {
      border: 8px solid #8cc700;
    }
    &:nth-child(14) {
      border: 8px solid #0fad00;
    }
    &:nth-child(15) {
      border: 8px solid #00a3c1;
    }
    &:nth-child(16) {
      border: 8px solid #0061b5;
    }
    &:nth-child(17) {
      border: 8px solid #6300a4;
    }
    &:nth-child(18) {
      border: 8px solid #ff0000;
    }

    &:nth-child(19) {
      border: 8px solid #ff6600;
    }
    &:nth-child(20) {
      border: 8px solid #ff9400;
    }
    &:nth-child(21) {
      border: 8px solid #ffc600;
    }
    &:nth-child(22) {
      border: 8px solid #8cc700;
    }
    &:nth-child(23) {
      border: 8px solid #0fad00;
    }
    &:nth-child(24) {
      border: 8px solid #00a3c1;
    }
    &:nth-child(25) {
      border: 8px solid #0061b5;
    }
    &:nth-child(26) {
      border: 8px solid #6300a4;
    }
    &:nth-child(27) {
      border: 8px solid #ff0000;
    }
    &:nth-child(28) {
      border: 8px solid #ff6600;
    }
    &:nth-child(29) {
      border: 8px solid #ff9400;
    }
    &:nth-child(30) {
      border: 8px solid #ffc600;
    }
    &:nth-child(31) {
      border: 8px solid #8cc700;
    }
    &:nth-child(32) {
      border: 8px solid #0fad00;
    }
    &:nth-child(33) {
      border: 8px solid #00a3c1;
    }
    &:nth-child(34) {
      border: 8px solid #0061b5;
    }
    &:nth-child(35) {
      border: 8px solid #6300a4;
    }
    &:nth-child(36) {
      border: 8px solid #ff0000;
    }
    &:hover {
      background: white;
      border: 8px solid @white-color;
      img {
        -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
        filter: grayscale(0);
      }
    }
  }
}

.single-background {
  background: @white-color;
  a img {
    padding: 10%;
  }
}





//Animation
.sponsor-anim-default {
  .single {
    &:hover {
      a {
        img {
          /*-webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
          -webkit-transform-origin: center;
          transform-origin: center;
          animation-duration: 400ms;
          animation-timing-function: linear;*/
        }
      }
    }
  }
}

.sponsor-anim-zoom {
  .single {
    a {
      img {
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
      }
    }
    &:hover {
      a {
        img {
          -ms-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -o-transform: scale(1.1);
          transform: scale(1.1);
          box-shadow: none;
        }
      }
    }
  }
}

.sponsor-anim-angle {
  .single {
    a {
      img {
        -ms-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg);
        //padding: 1rem;
      }
    }
    &:hover {
      a {
        img {
          -ms-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          .bg-rgba(@white-color, .1);
        }
      }
    }
  }
}


.sponsor-anim-angle2 {
  .single {
    a {
      img {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }
    &:hover {
      a {
        img {
          -ms-transform: rotate(-20deg);
          -moz-transform: rotate(-20deg);
          -webkit-transform: rotate(-20deg);
          -o-transform: rotate(-20deg);
          transform: rotate(-20deg);
        }
      }
    }
  }
}


//
.sponsors-area-bg {
  align-items: center;
  .single {
    background: @white-color;
    //min-height: 135px;
    margin: 0 .5% 1rem;
    //padding: 2rem;
    img {
      //max-height: 96px;
    }
  }
}

/*.wpb_wrapper .vc_row wpb_row {
  &:last-child {
    .sponsors-area {
      margin-bottom: 0 !important;
    }
  }
}*/



