blockquote.lgx-testi-single {
  padding: 36px 13% 0;
  .font-size(20);
  font-weight: 400;
  line-height: 3rem;
  margin: 0;
  p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    position: relative;
    z-index: 1;
    font-family: @lgx-base-font;
  }
  .vcx-review-lead {
    font-family: @lgx-heading-font;
    color: @brand-color;
    display: block;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
    font-weight: 400;
    font-size: inherit;
  }
  .author {
    display: inline-block;
    margin-top: 2.6rem;
    //display: flex;
    img {
      border-radius: 50%;
      max-width: 150px;
      margin: 0 auto;
    }
    .title {
      .font-size(20);
    //text-transform: uppercase;
      margin-bottom: .5rem;
    }
    .vcx-designation {
      font-family: @lgx-base-font;
      color: rgba(50, 51, 51, 0.5);
      //color: @brand-color2;
      text-transform: uppercase;
      .font-size(14);
      margin-top: 0;
      margin-bottom: .5rem;
    }
    .rate {
      text-align: center;
      display: inline-block;
      i {
        float: left;
        text-align: left;
        .font-noline(1.8);
        color: @border-color;
        padding: 0 .2rem;
      }
    }
    .rate-one {
      i {
        &:nth-child(1) {
          color: #ffaf0f;
        }
      }
    }
    .rate-two {
      i {
        &:nth-child(1),
        &:nth-child(2){
          color: #ffaf0f;
        }
      }
    }
    .rate-three {
      i {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          color: #ffaf0f;
        }
      }
    }
    .rate-four {
      i {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          color: #ffaf0f;
        }
      }
    }
    .rate-five {
      i {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          color: #ffaf0f;
        }
      }
    }
  }

  &:after {
    display: none;
  }
  &:before {
    content: "";
    background: url('../img/quote.png') center left no-repeat;
    position:absolute;
    left: 0;
    top: -1px;
    right: 0;
    width: 115px;
    height: 81px;
    text-align: center;
    margin:  0 auto;
    z-index: 0;
  }
}

.lgx-testi-single {
  .author {
    display: inline-block;
    img {

    }
  }
}


.lgx-owltestimonial-box {
  .item {
    margin: 0 15px;
  }
  blockquote.lgx-testi-single {
    .transition-duration(@duration: 0.3s);
    background: @white-color;
    padding: 8rem 4.2rem 4.2rem 4.2rem;
    .font-size(16);
    font-weight: 300;
    line-height: 2.6rem;
    margin: 0;
    display: block;
    p {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      position: relative;
      z-index: 1;
    }
    p span {
      line-height: 2.4rem;
      margin-bottom: 1rem;
    }
    .author {
      display: inline-block;
      margin-top: 2.6rem;
      text-align: center;
      img {
        border-radius: 50%;
        max-width: 70px;
        margin: 0 auto;
      }
      .title {
        text-transform: uppercase;
        .font-noline(1.4);
      }
      .rate {
        i {
          .font-noline(1.6);
          color: #ffaf0f;
        }
      }
    }
    &:before {
      top: 48px;
    }
    &:hover {
      background: @brand-color;
      p {
        color: @white-color;
      }
      p span {
        color: @white-color;
      }
      &:before {
        opacity: .15;
      }
      .author {
        img {
        }
      }
    }
  }
}


