.lgx-banner-particle  {
  position: relative;
  width: 100%;

  .lgx-banner-info {
    position: relative;
    z-index: 2;
  }

  .particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

  }

}


.lgx-banner-particle {
  .action-area {
    .lgx-btn, .video-area {
      position: relative;
      z-index: 2;
    }
  }
}
