.lgx-heading {
  text-align: center;
  margin-bottom: 6.8rem;
  overflow: hidden;
  display: block;
  margin-top: -1.6rem;
  .heading {
    font-family: @lgx-base-font;
    .font-size(42);
    color: @black-color;
    font-weight: 900;
    margin: 0 0 .5rem;
    text-transform: uppercase;
    //background: @brand-color2;
    /*background: linear-gradient(to bottom,rgba(0,0,0,0) 80%,@brand-color3 80%);
    background-size: 100px 1.2em;*/
    display: inline-block;
    line-height: 5.5rem;
    span {
      background: linear-gradient(to bottom,rgba(0,0,0,0) 80%,@brand-color3 80%);
      background-size: 100px 1.14em;
    }
  }
  .subheading {
    font-family: @lgx-heading-font;
    .font-size(16);
    color: @brand-color;
    font-weight: 300;
    margin: 0;
    letter-spacing: 2px;
  }
}
.lgx-heading-white {
  .heading {
    color: @white-color;

    /*background: linear-gradient(to bottom,rgba(0,0,0,0) 80%,@brand-color2 80%);
    background-size: 100px 1.2em;*/
    span {
      background: linear-gradient(to bottom,rgba(0,0,0,0) 80%,@brand-color2 80%);
      background-size: 100px 1.2em;
    }
  }
  .subheading {
    color: @brand-color3;
  }
}


.lgx-subheading {
  font-family: @lgx-heading-font;
  .font-size(24);
  text-align: center;
  color: @brand-color;
  text-transform: uppercase;
  margin-bottom: 3.9rem;
  margin-top: 0;
}




/*
.lgx-page-wrapper {
  padding: 11rem 0;
}*/
