.lgx-travelinfo-single {
  .title {
    .font-size(42);
  }

  .info {
    font-family: @lgx-heading-font;
    .font-size(26);
    font-weight: 400;
    margin-bottom: .5rem;
    color: @black-color;
  }
  .lgx-btn {
    margin-top: 2.6rem;
  }

}

.vcx-travel-default {
  padding: 0 10%;
  .lgx-travel-inner {
    .title {
      .font-size(26);
    }
  }
}


